<%# Setear @sub_links => desde controller %>
<div class="sub-links-section">

<% if params[:action] == "publication_caballos" || params[:action] == "publication_remates" %>
  <% if @sub_links_publicaciones %>
    <% @sub_links_publicaciones.each do |sublink| %>
      <div class="col-6 sub-link <%= sublink[:path].include?(request.fullpath) ? 'sub-link-active' : '' %>" >
        <%= link_to sublink[:path] do %>
          <%= sublink[:title].upcase %>
        <% end %>
      </div>
    <% end %>
  <% end %>
<% else %>
  <% if @sub_links_favoritos %>
    <% @sub_links_favoritos.each do |sublink| %>
      <div class="col-6 sub-link <%= sublink[:path].include?(request.fullpath) ? 'sub-link-active' : '' %>" >
        <%= link_to sublink[:path] do %>
          <%= sublink[:title].upcase %>
        <% end %>
      </div>
    <% end %>
  <% end %>
<% end %>
</div>
