<!-- Content -->
<div class="container-categorias container-filter">
  <div class="background d-flex justify-content-center" style="background-image: url('<%= image_path 'profile-background.png' %>');">

    <div class="profile-index w-100">
      <ul class="p-0">
        <li class="py-4">
          <%= link_to edit_user_registration_path, class:"d-flex justify-content-between align-items-center" do %>
            <div class="d-flex justify-content-start align-items-center">
              <%= image_tag('mis_datos.svg', style: "height: 22px; margin-right: 14px;") %>
              <span>Mis datos</span>
            </div>
            <%= image_tag('arrow-right-white.png') %>
          <% end %>
        </li>
        <li class="py-4">
          <%= link_to profile_favorite_caballos_url, class:"d-flex justify-content-between align-items-center" do %>
            <div class="d-flex justify-content-start align-items-center">
              <%= image_tag('favorite_white_empty.svg', style: "height: 22px; margin-right: 14px;") %>
              <span>Favoritos</span>
            </div>
            <%= image_tag('arrow-right-white.png') %>
          <% end %>
        </li>
        <li class="py-4">
          <%= link_to profile_notification_path, class:"d-flex justify-content-between align-items-center" do %>
            <div class="d-flex justify-content-start align-items-center">
              <%= image_tag('mis_notificaciones.svg', style: "height: 22px; margin-right: 14px;") %>
              <span>Notificaciones</span>
            </div>
            <%= image_tag('arrow-right-white.png') %>
          <% end %>
        </li>
        <li class="py-4">
          <%= link_to profile_publication_caballos_path, class:"d-flex justify-content-between align-items-center" do %>
            <div class="d-flex justify-content-start align-items-center">
              <%= image_tag('mis_publicaciones.svg', style: "height: 22px; margin-right: 14px;") %>
              <span>Mis publicaciones</span>
            </div>
            <%= image_tag('arrow-right-white.png') %>
          <% end %>
        </li>
        <% if current_user.admin == false %>
          <li class="d-flex justify-content-between py-4">
          <%= link_to contact_path, class:"d-flex justify-content-between align-items-center" do %>
            <div class="d-flex justify-content-start align-items-center">
              <%= image_tag('ayuda.svg', style: "height: 22px; margin-right: 14px;") %>
              <span>Ayuda</span>
            </div>
            <%= image_tag('arrow-right-white.png') %>
            <% end %>
          </li>
        <% end %>
        <% if current_user.admin == true %>
          <li class="d-flex justify-content-between py-4">
            <%= link_to pubs_path, class:"d-flex justify-content-between align-items-center" do %>
              <div class="d-flex justify-content-start align-items-center">
                <%= image_tag('ayuda.svg', style: "height: 22px; margin-right: 14px;") %>
                <span>Publicidad</span>
              </div>
              <%= image_tag('arrow-right-white.png') %>
            <% end %>
          </li>
          <li class="d-flex justify-content-between py-4">
            <%= link_to admin_help_contact_pending_path, class:"d-flex justify-content-between align-items-center" do %>
              <div class="d-flex justify-content-start align-items-center">
                <%= image_tag('ayuda.svg', style: "height: 22px; margin-right: 14px;") %>
                <span>Consultas</span>
              </div>
              <%= image_tag('arrow-right-white.png') %>
            <% end %>
          </li>
          <li class="d-flex justify-content-between py-4">
            <%= link_to admin_reviews_pending_path, class:"d-flex justify-content-between align-items-center" do %>
              <div class="d-flex justify-content-start align-items-center">
                <%= image_tag('star.svg', style: "height: 22px; margin-right: 14px;") %>
                <span>Reseñas</span>
              </div>
              <%= image_tag('arrow-right-white.png') %>
            <% end %>
          </li>
        <% end %>
        <li class="py-4">
          <%= button_to(destroy_user_session_path, method: :delete, id: "logout", class:"d-flex justify-content-between m-0 w-100 align-items-center border-0 bg-transparent p-0", input_html: {class: "w-100"}) do %>
            <div class="d-flex justify-content-start align-items-center">
              <%= image_tag('cerrar_sesion.svg', style: "height: 22px; margin-right: 14px;") %>
              <span>Cerrar Sesion</span>
            </div>
            <%= image_tag('arrow-right-white.png') %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>

<script>
  confirmLogout = (e) => {
    const result = window.confirm("¿Estás seguro que deseas cerrar sesión?");
    if (result) {
      return true;
    } else {
      e.preventDefault();
      return false;
    }
  }
  document.getElementById("logout").addEventListener("click", confirmLogout);
</script>
