<%= render 'sub_links' %>

<div class="container" style="margin-top: 8rem !important;">

  <div class="cards mb-4 mt-3 row">
    <% if @auctions != [] %>
      <span class="section-subtitle mb-3">Tus publicaciones activas</span>
      <% @auctions.each do |auction| %>
        <div class="col-sm-8 col-lg-6 col-sm-12">
          <div class="card w-100 mb-3">

            <% if auction.photo %>
            <div class="card-image w-100 h-100 d-flex align-items-end justify-content-center" style="background-image: url('<%= cl_image_path auction.photo.key %>'); background-size: cover;">
            <% else %>
            <div class="card-image w-100 h-100 d-flex align-items-end justify-content-center" style="background: grey; background-size: cover;">
            <% end %>

              <div class="nombre m-0 w-100"><span><%= auction.name %></span></div>
            </div>

            <div class="card-content">
              <div class="p-2 d-flex">
                <div class="col-5 p-0">
                  <%= link_to auction_destroy_path(auction.id, mis_publicaciones: "true"), data: { turbo_method: :delete } do %>
                    <span style="color: #838383; margin-left: 1.563rem;">ELIMINAR</span>
                  <% end %>
                </div>
                <div class="col-4 p-0 d-flex justify-content-center link align-items-center">
                  <%= link_to auction_path(auction.id) do %>
                    <span>VER MAS</span>
                  <% end %>
                </div>
                <div class="col-3 d-flex justify-content-end align-items-center p-0">
                  <div class="d-flex align-items-center justify-content-center">
                    <%= image_tag('favorite.png', style: "margin-right: 7px;") %>
                    <div data-controller="share" data-share-url-value="<%= auction_path(auction)%>">
                      <%= button_to image_tag('share.png'), "", data: {action: "click->share#share" }, style: "border: none; background: none; padding-bottom: 0.188rem;" %>
                      <%= content_tag(:span, "", class:"result", data: {share_target: "result" }) %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="d-flex justify-content-center align-items-center" style="height: 30vh;">
        <span>No hay publicaciones realizadas aun</span>
      </div>
    <% end %>
  </div>
</div>
