<%= render 'shared/navbar' %>

<div class="container col-sm-8 col-lg-6 col-sm-12">

  <div class="foto d-flex justify-content-center align-items-center mb-4">
    <div style="position: relative; width: 35%" class="d-flex justify-content-center align-items-center">
      <% if @user.photo.key != nil %>
        <%= cl_image_tag @user.photo.key, class: "mis-datos-img" %>
      <% else %>
        <%= image_tag('user-placeholder.png', class: "mis-datos-img") %>
      <% end %>

      <div class="d-flex align-items-end justify-content-end" style="height: 142px;">
        <%= image_tag('foto-icon.svg', style: "position: absolute;") %>
      </div>
    </div>
  </div>

  <div class="title mb-4">
    <h5 class="section-title mb-0"><%= @user.nombre.capitalize %> <%= @user.apellido.capitalize %></h5>
    <span class=""><%= @user.email %></span>
  </div>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%#= f.input :email, required: true, autofocus: true %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Esperando confirmación para: <%= resource.unconfirmed_email %></p>
      <% end %>

      <%= f.input :age,
                  label: "Edad:",
                  input_html: {class: "form-input", style:"border-color: #207B6E !important; background-image: none !important;"},
                  label_html: {class: "label-input"},
                  placeholder: "Escribe aqui" %>

      <%= f.input :establishment,
                  label: "Establecimiento:",
                  input_html: {class: "form-input", style:"border-color: #207B6E !important; background-image: none !important;"},
                  label_html: {class: "label-input"},
                  placeholder: "Escribe aqui" %>

      <%= f.input :phone,
                  label: "Telefono:",
                  input_html: {class: "form-input", style:"border-color: #207B6E !important; background-image: none !important;"},
                  label_html: {class: "label-input"},
                  placeholder: "Escribe aqui" %>

      <%= f.input :direccion,
                  label: "Direccion:",
                  input_html: {class: "form-input", style:"border-color: #207B6E !important; background-image: none !important;"},
                  label_html: {class: "label-input"},
                  placeholder: "Escribe aqui" %>

      <%= f.input :ciudad,
                  label: "Ciudad:",
                  input_html: {class: "form-input", style:"border-color: #207B6E !important; background-image: none !important;"},
                  label_html: {class: "label-input"},
                  placeholder: "Escribe aqui" %>

      <%= f.input :provincia,
                  label: "Provincia:",
                  input_html: {class: "form-input", style:"border-color: #207B6E !important; background-image: none !important;"},
                  label_html: {class: "label-input"},
                  placeholder: "Escribe aqui" %>

      <%= f.input :pais,
                  label: "Pais:",
                  input_html: {class: "form-input", style:"border-color: #207B6E !important; background-image: none !important;"},
                  label_html: {class: "label-input"},
                  placeholder: "Escribe aqui" %>

      <%= f.input :description,
                  label: "Sobre mi:",
                  input_html: {class: "form-input", style:"border-color: #207B6E !important; background-image: none !important;"},
                  label_html: {class: "label-input"},
                  placeholder: "Escribe aqui" %>

      <%= f.input :password,
                  hint: "Dejar en blanco si no se quiere actualizar",
                  required: false,
                  input_html: { autocomplete: "Nueva Contraseña", class: "form-input", style:"border-color: #207B6E !important; background-image: none !important;" },
                  label_html: {class: "label-input"} %>

      <%= f.input :password_confirmation,
                  hint: "Dejar en blanco si no se quiere actualizar",
                  required: false,
                  input_html: { autocomplete: "Nueva Contraseña", class: "form-input", style:"border-color: #207B6E !important; background-image: none !important;" },
                  label_html: {class: "label-input"} %>

      <%= f.input :current_password,
                  hint: "Necesitamos que ingreses tu contraseña para confirmar los cambios",
                  required: true,
                  input_html: { autocomplete: "Contraseña actual", class: "form-input", style:"border-color: #207B6E !important; background-image: none !important;" },
                  label_html: {class: "label-input"} %>
    </div>

    <div class="d-flex justify-content-center mb-3">
      <%= f.button :submit, "ACTUALIZAR", class: "btn-submit mt-2" %>
    </div>

  <% end %>

  <div class="d-flex align-items-center justify-content-center">
    <%= button_to "Cancelar mi cuenta", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-link" %>
  </div>
</div>

<%= render 'shared/footer' %>
