<%= render 'shared/navbar' %>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <div class="container col-sm-8 col-lg-6 col-sm-12">

    <div class="foto d-flex justify-content-center align-items-center mb-4">
      <div style="position: relative; width: 35%" class="d-flex justify-content-center align-items-center">
        <% if @user.photo.key != nil %>
          <%= cl_image_tag @user.photo.key, class: "mis-datos-img", id:'primer-photo' %>
        <% else %>
          <%= image_tag('user-placeholder.png', class: "mis-datos-img", id:'primer-photo') %>
        <% end %>
          <img class= "mis-datos-img d-none" id="segunda-photo">

        <div class="d-flex align-items-end justify-content-end" style="height: 142px;">
          <div class="file-input-wrapper" style="position: relative">
            <%= f.label :photo, input_html: {disabled: true}, id: "file-icon" do %>
            <%= image_tag('foto-icon.svg', alt: 'Upload Image', class: 'upload-icon', style: "position: absolute; bottom: 0px; right: 7px;") %>
            <%= f.input :photo, as: :file, label: false, id: "photo-input", class: 'file-input d-none', type: "hidden", input_html: {class: "d-none", onchange: "displayPreview(this)"} %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="title mb-4">
      <h5 class="section-title mb-0"><%= @user.nombre.capitalize %> <%= @user.apellido.capitalize %></h5>
      <span class=""><%= @user.email %></span>
    </div>

    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :age, label: "Edad:", placeholder: "Escribe aquí" %>
      <%= f.input :establishment, label: "Establecimiento:", placeholder: "Escribe aquí" %>
      <%= f.input :phone, as: :numeric, label: "Teléfono:", placeholder: "Escribe aquí" %>
      <%= f.input :direccion, label: "Dirección:", placeholder: "Escribe aquí" %>
      <%= f.input :ciudad, label: "Ciudad:", placeholder: "Escribe aquí" %>
      <%= f.input :provincia, label: "Provincia:", placeholder: "Escribe aquí" %>
      <%= f.input :pais, label: "País:", placeholder: "Escribe aquí" %>
      <%= f.input :description, as: :text, label: "Sobre mí:", placeholder: "Escribe aquí" %>

      <%= f.input :password, hint: "Dejar en blanco si no se quiere actualizar", required: false %>
      <%= f.input :password_confirmation, hint: "Dejar en blanco si no se quiere actualizar", required: false %>
      <%= f.input :current_password, hint: "Necesitamos que ingreses tu contraseña para confirmar los cambios", required: true %>
    </div>

    <div class="d-flex justify-content-center mb-3">
      <%= f.button :submit, "ACTUALIZAR", class: "btn-submit mt-2", id: "submit-button" %>
    </div>
  </div>
<% end %>

<%= render 'shared/footer' %>
