<div class="navbar d-flex align-items-center justify-content-start">
    <%= link_to new_session_path('user') do %>
      <i class="fa-solid fa-arrow-left" style="color: #FBFBFB; font-weight: 600; margin-right: 15px; margin-left: 15px;"></i>
    <% end %>
    <p style="font-size: 20px; color: #FBFBFB; font-weight: 600; margin-bottom: 0;">Registrarse</p>
</div>

<div class="container">
  <p class="mt-5 mb-4" style="font-weight: 600;">Ingresa tus datos para crear tu cuenta</p>
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: :false }) do |f| %>
    <%= f.text_field :registro, value: "ok", type: "hidden" %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :nombre,
                  required: true,
                  autofocus: true,
                  placeholder: "Nombre",
                  label: false,
                  input_html: { autocomplete: "nombre" },
                  class: "log-in-input",
                  input_html: {style: "border-bottom: 4px solid #207B6E; height: 56px; border-radius: 4px; background: rgba(94, 153, 112, 0.06);"} %>
      <%= f.input :apellido,
                  required: true,
                  autofocus: true,
                  placeholder: "Apellido",
                  label: false,
                  input_html: { autocomplete: "apellido" },
                  class: "log-in-input",
                  input_html: {style: "border-bottom: 4px solid #207B6E; height: 56px; border-radius: 4px; background: rgba(94, 153, 112, 0.06);"} %>
      <%= f.input :direccion,
                  required: true,
                  autofocus: true,
                  placeholder: "Direccion",
                  label: false,
                  input_html: { autocomplete: "direccion" },
                  class: "log-in-input",
                  input_html: {style: "border-bottom: 4px solid #207B6E; height: 56px; border-radius: 4px; background: rgba(94, 153, 112, 0.06);"} %>
      <%= f.input :ciudad,
                  required: true,
                  autofocus: true,
                  placeholder: "Ciudad",
                  label: false,
                  input_html: { autocomplete: "ciudad" },
                  class: "log-in-input",
                  input_html: {style: "border-bottom: 4px solid #207B6E; height: 56px; border-radius: 4px; background: rgba(94, 153, 112, 0.06);"} %>
      <%= f.input :provincia,
                  required: true,
                  autofocus: true,
                  placeholder: "Provincia",
                  label: false,
                  input_html: { autocomplete: "provincia" },
                  class: "log-in-input",
                  input_html: {style: "border-bottom: 4px solid #207B6E; height: 56px; border-radius: 4px; background: rgba(94, 153, 112, 0.06);"} %>
      <%= f.input :pais,
                  required: true,
                  autofocus: true,
                  placeholder: "Pais",
                  label: false,
                  input_html: { autocomplete: "pais" },
                  class: "log-in-input",
                  input_html: {style: "border-bottom: 4px solid #207B6E; height: 56px; border-radius: 4px; background: rgba(94, 153, 112, 0.06);"} %>
      <%= f.input :phone,
                  required: true,
                  autofocus: true,
                  placeholder: "Telefono",
                  label: false,
                  input_html: { autocomplete: "telefono" },
                  class: "log-in-input",
                  input_html: {style: "border-bottom: 4px solid #207B6E; height: 56px; border-radius: 4px; background: rgba(94, 153, 112, 0.06);"} %>
      <%= f.input :photo, as: :file,
                  label: false,
                  placeholder: "Foto",
                  input_html: {style: "border-bottom: 4px solid #207B6E; height: 56px; border-radius: 4px; background: rgba(94, 153, 112, 0.06);"},
                  hint: "Foto de perfil",
                  hint_html: {style: "font-weight: 400; font-size: 12px; color: #727272;"} %>
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  placeholder: "Email",
                  label: false,
                  input_html: { autocomplete: "email" },
                  class: "log-in-input",
                  input_html: {style: "border-bottom: 4px solid #207B6E; height: 56px; border-radius: 4px; background: rgba(94, 153, 112, 0.06);"} %>
      <%= f.input :password,
                  required: true,
                  label: false,
                  placeholder: "Contraseña",
                  hint: ("La contraseña debe tener #{@minimum_password_length}" if @minimum_password_length),
                  input_html: { autocomplete: "new-password" },
                  class: "log-in-input",
                  input_html: {style: "border-bottom: 4px solid #207B6E; height: 56px; border-radius: 4px; background: rgba(94, 153, 112, 0.06);"},
                  hint_html: {style: "font-weight: 400; font-size: 12px; color: #727272;"}  %>
      <%= f.input :password_confirmation,
                  label: false,
                  placeholder: "Confirmar Contraseña",
                  required: true,
                  input_html: { autocomplete: "new-password" },
                  class: "log-in-input",
                  input_html: {style: "border-bottom: 4px solid #207B6E; height: 56px; border-radius: 4px; background: rgba(94, 153, 112, 0.06);"}%>
    </div>

    <div class="form-actions d-flex justify-content-center">
      <%= f.button :submit, "Confirmar Registro", class: "form-button mt-4 mb-5", style:"background: #207B6E" %>
    </div>
  <% end %>

</div>
