<!-- Content -->
<div class="conversations-show container d-flex justify-content-center"
    data-controller="chat"
    data-chat-conversation-id-value="<%= @conversation.id %>"
    data-chat-current-user-id-value="<%= current_user.id %>">

  <%# Message Box %>
  <div class="container messages-box" style="overflow-y:auto; margin-top: 20px !important;" id="messages-box">
    <div class="messages" data-chat-target="messages">
      <% @conversation.messages.each do |message| %>
        <% if message.body %>
          <div class="message-row d-flex <%= message.sender?(current_user) ? 'justify-content-end' : 'justify-content-start' %>">
            <div class="message-row <%= message.sender?(current_user) ? 'sender-style' : 'receiver-style' %>">
              <%= render "messages/message", message: message %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <%# New message %>
  <div class="chat-box mt-3" id="scroll-chat">
    <%= simple_form_for Message.new, url: conversation_messages_path(conversation_id: @conversation.id), html: { data: { action: "turbo:submit-end->chat#resetForm" }} do |f| %>
      <div class="field w-100">
        <%= f.input :body, class: "form-control chat-input", label: false, wrapper_html: {style: "margin-bottom: 0 !important;"} %>
      </div>
      <%= f.text_field :user_id, value: current_user.id, type: "hidden" %>
      <%= button_tag(type: 'submit', class: "chat-btn", style: "color: white;") do %>
        <i class="fa-regular fa-paper-plane"></i>
      <% end %>
    <% end %>
  </div>

</div>

<!-- Scroll into view -->
<script>
console.log('cargadooo')
  function scrollToLastMessage() {
    const messagesBox = document.getElementById("messages-box");
    const messages = messagesBox.querySelectorAll(".message-row");
    if (messages.length > 0) {
      const lastMessage = messages[messages.length - 1];
      lastMessage.scrollIntoView({ behavior: "smooth" });
    }
  }
  // Use the 'pageshow' event to ensure the script runs when coming from another page
  window.addEventListener("pageshow", function (event) {
    scrollToLastMessage();
  });

</script>
<% if @mensaje_automatico.present? %>
  <script>
    console.log("entrooooooooo")
    const messagesBox = document.getElementById("message_body");
    messagesBox.value = "<%= @mensaje_automatico %>";

  </script>
<% end %>
