<div class="container">
  <%= simple_form_for (@auction) do |f|%>
    <%= f.input :name, label: "Titulo para la subasta" %>
    <%= f.input :location,  label: "Lugar de la subasta"%>
    <%= f.input :date, label: "Fecha de la subasta" %>
    <%= f.input :start, label: "Comienzo de la subasta" %>
    <%= f.input :finish, label: "Fin de la subasta" %>
    <%= f.submit "Crear Subasta", class: "btn btn-primary" %>
  <% end %>
</div>
