<%= render 'sub_links' %>

<!-- Content -->
<div class="auctions-index container" style="margin-top: 8rem !important;">

  <div class="cards mb-4 row">
    <% if @auctions != [] %>
      <% @auctions.each do |auction| %>
        <div class="col-sm-6 col-lg-4 col-sm-12">
          <div class="card w-100 mb-3">

            <% if auction.photo.key %>
              <div class="card-image w-100 h-100 d-flex align-items-end justify-content-center" style="background-image: url('<%= cl_image_path auction.photo.key %>'); background-size: cover;">
            <% else %>
              <div class="card-image w-100 h-100 d-flex align-items-end justify-content-center" style="background-image: url('<%= image_path 'auction-logo-solo.png' %>'); background-repeat: no-repeat; background-position: center; background-size: 300px;">
            <% end %>

            <div class="nombre m-0 w-100"><span><%= auction.name.capitalize %></span></div>
            </div>

            <div class="card-content">
              <div class="p-2 d-flex">
                <div class="col-5 p-0 d-flex align-items-center">
                  <% t = auction.start - DateTime.now %>
                  <% mm, ss = t.divmod(60) %>
                  <% hh, mm = mm.divmod(60)  %>
                  <%# dd, hh = hh.divmod(24)  %>
                  <i class="time-left fa-regular fa-clock"></i>
                  <span class= "time-left" style="margin-left: 5px;"><%= "#{hh}:#{mm.round(2)}:#{ss.round}"%></span>
                </div>
                <div class="col-4 d-flex justify-content-start link align-items-center p-0">
                  <%= link_to auction_path(auction.id) do %>
                    <span>VER MAS</span>
                  <% end %>
                </div>
                <div class="col-3 d-flex justify-content-end align-items-center pr-0">
                  <div class="d-flex align-items-center justify-content-center">
                    <%= button_to favorite_auction_text(auction), favorite_auction_path(auction: auction), class: "auction_heart_index mx-2", remote: true %>
                    <%# <div data-controller="share" data-share-url-value="<%= auction_path(auction)"> %>
                      <%#= button_to image_tag('share.png'), "", data: {action: "click->share#share" }, style: "border: none; background: none; padding-bottom: 0.188rem;" %>
                      <%#= content_tag(:span, "", class:"result", data: {share_target: "result" }) %>
                    <%# </div> %>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      <% end %>
    <% else %>
      <div class="d-flex flex-column justify-content-center align-items-center text-center" style="height: 30vh;">
        <span>No hay remates disponibles todavia</span>
        <%= link_to home_path, class: "btn-submit mt-5 d-flex align-items-center justify-content-center" do %>
          <span>VOLVER AL INICIO</span>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<script>
  buttons = document.querySelectorAll('.auction_heart_index')
    buttons.forEach(
    function(button) {
      if (button.innerText == "fav"){
        button.innerHTML = "<i class='fa-solid fa-heart'></i>"
      } else if (button.innerText == "nofav"){
        button.innerHTML = "<i class='fa-regular fa-heart'></i>"
      }
      button.addEventListener('click', function() {
        if (button.innerHTML == `<i class="fa-solid fa-heart"></i>`) {
          button.innerHTML = `<i class="fa-regular fa-heart"></i>`
        } else if (button.innerHTML == `<i class="fa-regular fa-heart"></i>`){
          button.innerHTML = `<i class="fa-solid fa-heart"></i>`
        }
      })
    }
  )
</script>

<style>
  .auction_heart{
    border: none;
    background: none;
    padding: 0;
    color:white;
    font-size: 1.5rem;
  }

  .auction_heart_index{
    border: none;
    background: none;
    padding: 0;
    padding-top: 2px !important;
    color: #F2DA84 !important;
    font-size: 1.3rem !important;
  }

  .auction_heart_home{
    border: none;
    background: none;
    padding: 0;
    padding-top: 2px !important;
    color: #F2DA84 !important;
    font-size: 1.3rem !important;
  }
</style>
