<!-- Content -->
<div class="horses-show d-flex flex-column align-items-center" style="margin-bottom: 5rem !important;">
  <div class="col-lg-6 col-sm-10 col-md-8 col-12" style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;">

    <div class="foto w-100 h-100 mb-3">
      <% if @auction.photo.key %>
        <%= cl_image_tag @auction.photo.key, class: "w-100", style: "height: 18.75rem;" %>
      <% else %>
        <%= image_tag('caballo.png', class: "w-100", style: "height: 18.75rem;") %>
      <% end %>
    </div>

    <div class="container px-4 pb-5">
      <div class="info">

        <div class="horse-titulo d-flex flex-column mb-4">
          <div class="d-flex align-items-center mb-1">
            <%= image_tag('ubicacion.svg', style: "margin-right: 5px; height: 18px;") %>
            <span class= "subtitle">Ubicacion</span>
          </div>
          <span class= "text px-4"><%= @auction.location %></span>
        </div>

        <div class="detalles d-flex flex-column py-3">
          <div class="d-flex align-items-center mb-1">
            <%= image_tag('condiciones.svg', style: "margin-right: 5px; height: 18px;") %>
            <span class= "subtitle">Condiciones</span>
          </div>
          <span class= "subtitle d-flex align-items-center px-4">
            <a href="<%= @auction.condiciones %>" target="_blank">Ver condiciones del remate
              <i class="fa-solid fa-angle-right"></i>
            </a>
          </span>
        </div>

        <div class="d-flex flex-column py-3 mb-4">
          <div class="d-flex align-items-center mb-1">
            <%= image_tag('fecha.svg', style: "margin-right: 5px; height: 18px;") %>
            <span class= "subtitle">Fecha</span>
          </div>
          <div class="d-flex justify-content-between mb-2 px-4">
            <span class= "text">Inicio: <%= @auction.start.strftime("%d/%m/%Y") %></span>
            <span class= "text">Finalizacion: <%= @auction.finish.strftime("%d/%m/%Y") %></span>
          </div>
          <span class= "subtitle text-center mt-3">Quedan 2 dias 7:03:21</span>
        </div>
      </div>
      <div class="d-flex justify-content-center mb-3">
        <a href="<%= @auction.link_auction %>" target="_blank">
          <button class= "btn-submit mt-2">VER</button>
        </a>
      </div>
    </div>

  </div>
</div>
