<div class="container">
  <%= simple_form_for @horse, url: horse_update_path(@horse.id), method: :put do |f|%>
    <%= f.input :rider,
      label: "Jinete/ amazona:",
      input_html: {class: "form-input"},
      label_html: {class: "label-input"},
      placeholder: "Escribe aquí", value: @horse.rider%>
    <%= f.input :name,
      label: "Nombre caballo:",
      input_html: {class: "form-input"},
      label_html: {class: "label-input"},
      placeholder: "Escribe aquí", value: @horse.name %>
    <%= f.input :description, as: :text,
      label: "Descripción:",
      input_html: {class: "form-input", style: "height: 5rem !important;"},
      label_html: {class: "label-input"},
      placeholder: "Escribe aquí", value: @horse.description %>
    <%= f.input :birthday, as: :date, html5: true,
      label: "Fecha de nacimiento:",
      input_html: {class: "form-input", style:"margin-left: 26px;", value: @horse.birthday.to_date},
      label_html: {class: "label-input"},
      wrapper_html: {class: "d-flex align-items-center justify-content-between mt-4"} %>
    <%= f.input :age,
      label: "Edad:",
      as: :select,
      collection: (1...20).to_a,
      input_html: {class: "form-input", style:"margin-left: 26px;"},
      label_html: {class: "label-input"},
      wrapper_html: {class: "d-flex align-items-center mt-4"},
      prompt: "Seleccionar Edad", selected: @horse.age %>
    <%= f.input :height,
      label: "Altura:",
      as: :select,
      collection: @height,
      input_html: {class: "form-input", style:"margin-left: 26px;"},
      label_html: {class: "label-input"},
      wrapper_html: {class: "d-flex align-items-center mt-4"},
      prompt: "Seleccionar Altura", selected: @horse.height %>
    <%= f.input :gender,
      label: "Sexo:", as: :select,
      collection: ["Macho", "Hembra", "Padrillo"],
      input_html: {class: "form-input", style:"margin-left: 26px;"},
      label_html: {class: "label-input"},
      wrapper_html: {class: "d-flex align-items-center mt-4"},
      prompt: "Seleccionar Sexo", selected: @horse.gender %>
    <%= f.input :alzada,
      label: "Alzada:",
      as: :select,
      collection: @alzada,
      input_html: {class: "form-input", style:"margin-left: 26px;"},
      label_html: {class: "label-input"},
      wrapper_html: {class: "d-flex align-items-center mt-4"},
      prompt: "Seleccionar Alzada", selected: @horse.alzada %>
    <%= f.input :pedigree,
      label:"Pedigree:",
      placeholder: "Ingrese link al pedigree",
      input_html: {class: "form-input"},
      label_html: {class: "label-input"}, value: @horse.pedigree%>
    <%= f.input :photos, as: :file,
      label:"Imagen:",
      placeholder: "Click aqui para subir una imagen",
      input_html: {class: "form-input", multiple: true},
      label_html: {class: "label-input"}, value: @horse.photos%>


    <%= f.input :video, as: :file,
    label: "Video:",
    input_html: { class: "form-input" },
    label_html: { class: "label-input" },
    placeholder: "Subi un archivo si queres modificar tu video" %>

    <div class="d-flex justify-content-center">
      <%= f.submit "GUARDAR CAMBIOS", class: "btn-submit mt-4" %>
    </div>
  <% end %>
</div>
