<div class="container">
  <%= simple_form_for @horse, url: horse_update_path(@horse.id), method: :put do |f|%>
    <%= f.input :rider,
      label: "Jinete/ amazona:",
      input_html: {class: "form-input", "data-controller": "capitalize", "data-action": "input->capitalize#capitalizeFirstLetter"},
      label_html: {class: "label-input"},
      placeholder: "Escribe aquí", value: @horse.rider%>
    <%= f.input :name,
      label: "*Nombre caballo:",
      input_html: {class: "form-input", "data-controller": "capitalize", "data-action": "input->capitalize#capitalizeFirstLetter"},
      label_html: {class: "label-input"},
      placeholder: "Escribe aquí", value: @horse.name %>
    <%= f.input :country, as: :string,
      label: "País:",
      input_html: {class: "form-input", "data-controller": "capitalize", "data-action": "input->capitalize#capitalizeFirstLetter"},
      label_html: {class: "label-input"},
      placeholder: "Escribe aquí", value: @horse.country %>
    <%= f.input :description, as: :text,
      label: "Descripción:",
      input_html: {class: "form-input", style: "height: 5rem !important;"},
      label_html: {class: "label-input"},
      placeholder: "Escribe aquí", value: @horse.description %>
    <%= f.input :birthday, as: :date, html5: true,
      label: "*Fecha de nacimiento:",
      input_html: {class: "form-input", style:"margin-left: 26px;", value: @horse.birthday.to_date},
      label_html: {class: "label-input"},
      wrapper_html: {class: "d-flex align-items-center justify-content-between mt-4"} %>
    <%= f.input :age,
      label: "*Edad:",
      as: :select,
      collection: (1...20).to_a,
      input_html: {class: "form-input", style:"margin-left: 26px;"},
      label_html: {class: "label-input"},
      wrapper_html: {class: "d-flex align-items-center mt-4"},
      prompt: "Seleccionar Edad", selected: @horse.age %>
    <%= f.input :height,
      label: "Altura:",
      as: :select,
      collection: @height,
      input_html: {class: "form-input", style:"margin-left: 26px;"},
      label_html: {class: "label-input"},
      wrapper_html: {class: "d-flex align-items-center mt-4"},
      prompt: "Seleccionar Altura", selected: @horse.height %>
    <%= f.input :gender,
      label: "*Sexo:", as: :select,
      collection: ["Macho", "Hembra", "Padrillo"],
      input_html: {class: "form-input", style:"margin-left: 26px;"},
      label_html: {class: "label-input"},
      wrapper_html: {class: "d-flex align-items-center mt-4"},
      prompt: "Seleccionar Sexo", selected: @horse.gender %>
    <%= f.input :alzada,
      label: "Alzada:",
      as: :select,
      collection: @alzada,
      input_html: {class: "form-input", style:"margin-left: 26px;"},
      label_html: {class: "label-input"},
      wrapper_html: {class: "d-flex align-items-center mt-4"},
      prompt: "Seleccionar Alzada", selected: @horse.alzada %>

<%= f.label :pedigree_type,label: "Detalle de Pedigree: ", class: "label-input" %>
<%= f.radio_button :pedigree_type, 'link', checked: true, class: 'pedigree-type' %> Link
<%= f.radio_button :pedigree_type, 'photo', class: 'pedigree-type' %> Foto

<div id="pedigree-link-input">
  <%= f.input :pedigree,
              label:"Pedigree Link:",
              placeholder: "Ingrese link al pedigree",
              input_html: {class: "form-input"},
              label_html: {class: "label-input"}, value: @horse.pedigree %>
</div>

<div id="pedigree-photo-input" style="display:none;">
  <%= f.input :food_photo, as: :file,
              label:"Imagen de Pedigree:",
              placeholder: "Click aqui para subir una imagen",
              input_html: {class: "form-input"},
              label_html: {class: "label-input"} %>
</div>


<%= f.input :photos, as: :file,
  label:"Imagen:",
  placeholder: "Click aqui para subir una imagen",
  input_html: {class: "form-input", multiple: true},
  label_html: {class: "label-input"} %>

<% if @horse.photos&.attached? %>
  <div class="card border-light mb-3 w-100">
    <div class="card-header">Imágenes cargadas</div>
    <div class="card-body">
      <% @horse.photos.each do |photo| %>
        <%= image_tag(url_for(photo), class: 'horse-photo m-1') %>
      <% end %>
    </div>
  </div>
<% end %>

<%= f.input :video, as: :file,
  label: "Video:",
  input_html: { class: "form-input" },
  label_html: { class: "label-input" },
  placeholder: "Subi un archivo si queres modificar tu video",
  hint: raw("Formatos permitidos: MOV, MPG, AVI, FLV, F4V, MP4, M4V, ASF, WMV, VOB, MOD, 3GP, MKV, DIVX, XVID, WEBM.<br>Por favor cargue videos con formato horizontal") %>

<% if @horse.video %>
  <div class="card border-light mb-3 w-100">
    <div class="card-header">Video cargado</div>
    <div class="card-body">
      <iframe src=<%= @horse.video %> allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="100%" height="200"></iframe>
    </div>
  </div>
<% end %>

  <div class="d-flex justify-content-center">
    <%= f.submit "GUARDAR CAMBIOS", class: "btn-submit mt-4" %>
  </div>
<% end %>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class = 'loading-modal'>
        <br>
        <i class="fa fa-refresh fa-spin"></i>
        <br><br>
        <span>Cargando ... <br><br> Espere unos segundos mientras los datos se cargan</span>
      </div>
    </div>
  </div>
</div>
</div>

<style>
  
  abbr[title="required"] {
    display: none;
  }

  .horse-photo {
    width: 100px;
    height: 100px;
  }

  .loading-modal {
    background-color: white;
    width: 100%;
    height: 20vh;
    text-align: center;
    border-radius: 2%;
  }
  
</style>


<script>

document.body.addEventListener('click', (event) => {
  if (event.target.matches('.pedigree-type')) {
    handleRadioChange(event);
  }
});

function handleRadioChange(event) {
  const selectedType = event.target.value;
  const linkInput = document.getElementById('pedigree-link-input');
  const photoInput = document.getElementById('pedigree-photo-input');

  if (selectedType === 'link') {
    linkInput.style.display = 'block';
    photoInput.style.display = 'none';
  } else if (selectedType === 'photo') {
    linkInput.style.display = 'none';
    photoInput.style.display = 'block';
  }
}

document.body.addEventListener('click', (event) => {
  if (event.target.matches('.btn-submit')) {
    const spinner = document.getElementById('exampleModalCenter');
    const spinnerModal = new bootstrap.Modal(spinner);
    spinnerModal.show();
  }
});

</script>