<div class="container">
  <%= simple_form_for @horse, url: horse_update_path(@horse.id), method: :put do |f|%>
    <%= f.input :rider,
      label: "Jinete/ amazona:",
      input_html: {class: "form-input", "data-controller": "capitalize", "data-action": "input->capitalize#capitalizeFirstLetter"},
      label_html: {class: "label-input"},
      placeholder: "Escribe aquí", value: @horse.rider%>
    <%= f.input :name,
      label: "Nombre caballo:",
      input_html: {class: "form-input", "data-controller": "capitalize", "data-action": "input->capitalize#capitalizeFirstLetter"},
      label_html: {class: "label-input"},
      placeholder: "Escribe aquí", value: @horse.name %>
    <%= f.input :description, as: :text,
      label: "Descripción:",
      input_html: {class: "form-input", style: "height: 5rem !important;", "data-controller": "capitalize", "data-action": "input->capitalize#capitalizeFirstLetter"},
      label_html: {class: "label-input"},
      placeholder: "Escribe aquí", value: @horse.description %>
    <%= f.input :birthday, as: :date, html5: true,
      label: "Fecha de nacimiento:",
      input_html: {class: "form-input", style:"margin-left: 26px;", value: @horse.birthday.to_date},
      label_html: {class: "label-input"},
      wrapper_html: {class: "d-flex align-items-center justify-content-between mt-4"} %>
    <%= f.input :age,
      label: "Edad:",
      as: :select,
      collection: (1...20).to_a,
      input_html: {class: "form-input", style:"margin-left: 26px;"},
      label_html: {class: "label-input"},
      wrapper_html: {class: "d-flex align-items-center mt-4"},
      prompt: "Seleccionar Edad", selected: @horse.age %>
    <%= f.input :height,
      label: "Altura:",
      as: :select,
      collection: @height,
      input_html: {class: "form-input", style:"margin-left: 26px;"},
      label_html: {class: "label-input"},
      wrapper_html: {class: "d-flex align-items-center mt-4"},
      prompt: "Seleccionar Altura", selected: @horse.height %>
    <%= f.input :gender,
      label: "Sexo:", as: :select,
      collection: ["Macho", "Hembra", "Padrillo"],
      input_html: {class: "form-input", style:"margin-left: 26px;"},
      label_html: {class: "label-input"},
      wrapper_html: {class: "d-flex align-items-center mt-4"},
      prompt: "Seleccionar Sexo", selected: @horse.gender %>
    <%= f.input :alzada,
      label: "Alzada:",
      as: :select,
      collection: @alzada,
      input_html: {class: "form-input", style:"margin-left: 26px;"},
      label_html: {class: "label-input"},
      wrapper_html: {class: "d-flex align-items-center mt-4"},
      prompt: "Seleccionar Alzada", selected: @horse.alzada %>

<%= f.label :pedigree_type,label: "Detalle de Pedigree: ", class: "label-input" %>
<%= f.radio_button :pedigree_type, 'link', checked: true, class: 'pedigree-type' %> Link
<%= f.radio_button :pedigree_type, 'photo', class: 'pedigree-type' %> Foto

<div id="pedigree-link-input">
  <%= f.input :pedigree,
              label:"Pedigree Link:",
              placeholder: "Ingrese link al pedigree",
              input_html: {class: "form-input"},
              label_html: {class: "label-input"}, value: @horse.pedigree %>
</div>

<div id="pedigree-photo-input" style="display:none;">
  <%= f.input :food_photo, as: :file,
              label:"Imagen de Pedigree:",
              placeholder: "Click aqui para subir una imagen",
              input_html: {class: "form-input"},
              label_html: {class: "label-input"} %>
</div>


<%= f.input :photos, as: :file,
  label:"Imagen:",
  placeholder: "Click aqui para subir una imagen",
  input_html: {class: "form-input", multiple: true},
  label_html: {class: "label-input"} %>


<%= f.input :video, as: :file,
  label: "Video:",
  input_html: { class: "form-input" },
  label_html: { class: "label-input" },
  placeholder: "Subi un archivo si queres modificar tu video",
  hint: raw("Formatos permitidos: MOV, MPG, AVI, FLV, F4V, MP4, M4V, ASF, WMV, VOB, MOD, 3GP, MKV, DIVX, XVID, WEBM.<br>Por favor cargue videos con formato horizontal") %>

<% if @horse.video %>
  <p>Ya existe un video. Podés reemplazarlo subiendo otro archivo.</p>
<% end %>

  <div class="d-flex justify-content-center">
    <%= f.submit "GUARDAR CAMBIOS", class: "btn-submit mt-4" %>
  </div>
<% end %>
</div>

<style>
  abbr[title="required"] {
  display: none;
  }
</style>


<script>

document.body.addEventListener('click', (event) => {
  if (event.target.matches('.pedigree-type')) {
    handleRadioChange(event);
  }
});

function handleRadioChange(event) {
  const selectedType = event.target.value;
  const linkInput = document.getElementById('pedigree-link-input');
  const photoInput = document.getElementById('pedigree-photo-input');

  if (selectedType === 'link') {
    linkInput.style.display = 'block';
    photoInput.style.display = 'none';
  } else if (selectedType === 'photo') {
    linkInput.style.display = 'none';
    photoInput.style.display = 'block';
  }
}

</script>