<div class="container col-sm-8 col-lg-6 col-sm-12" style="margin-top: 6rem !important;">
  <%= simple_form_for @filtro, url: horses_aplicar_filtros_path, method:"post" do |f| %>
    <div class="d-flex flex-column justify-content-between" style="height: 70vh;">
      <div class="form-inputs">
        <div class="mb-4">
          <%= f.input :jinete, as: :select, collection: @jinetes, input_html: { multiple: false, class: "filter-icon-input-before filter-icon-input-jinete-before", onchange: "updateInputJinete();"}, label: "Jinete/ Amazona", prompt: "Seleccionar Jinete/ Amazona", wrapper_html: {style: "margin-bottom: 0 !important;"}, label_html: {class: "filter-label"} %>
          <div class="input-border-before" id="border-jinete"></div>
        </div>
        <div class="mb-4">
          <span class="filter-label">Edad</span>
          <div class="w-100 justify-content-center align-items-center d-flex">
            <span class="filter_age_before" id="edad">Seleccionar</span>
            <div class="potro d-flex align-items-center justify-content-center ml-2 hidden" id="potro">
              <%= image_tag 'potro-icon.svg' %>
              <span class="ml-1 potro-span">potro</span>
            </div>
          </div>
          <div class="d-flex justify-content-center">
            <span style="font-size: 14px;">0</span>
            <%= f.input :edad, as: :range, input_html: {onchange: "updateTextInput(this.value);", min: 0, max: 20, value: 0}, include_blank: "Seleccionar", label: false, wrapper_html: {class: "mx-2", style: "width: 70%;"} %>
            <span style="font-size: 14px;">20 a침os</span>
          </div>
        </div>
        <div class="mb-4" style="position: relative;">
          <%= f.input :altura, collection: @height, as: :select, input_html: {class: "select_altura"}, wrapper_html: {class: "d-flex flex-column align-items-center"}, label_html: {style: "align-self: flex-start;"}, prompt: "Seleccionar", label_html: {class: "filter-label"} %>
          <span class="metros">metros</span>
        </div>
        <div class="mb-4">
          <%= f.input :ubicacion, collection: @ubicaciones, as: :select, input_html: { multiple: false, class: "filter-icon-input-before", onchange: "updateInputUbicacion();"}, prompt: "Seleccionar ubicaci칩n", label: "Ubicaci칩n", wrapper_html: {style: "margin-bottom: 0 !important;"}, label_html: {class: "filter-label"} %>
          <div class="input-border-before" id="border-ubicacion"></div>
        </div>
      </div>

      <div class="d-flex justify-content-center mb-3">
        <%= f.button :submit, "Buscar", class: "btn-submit mt-2" %>
      </div>
    </div>
  <% end %>
</div>

<style>
  .visible {
    display: flex;
  }

  .hidden {
    display: none !important;
  }
</style>

<script>
  function updateTextInput(val) {
    document.getElementById('edad').innerText = `${val} a침os` ;
    document.getElementById('edad').classList.remove('filter_age_before')
    document.getElementById('edad').classList.add('filter_age_after')
    var potro = document.getElementById('potro');
    console.log("val", val)
    if (parseInt(val) === 0 ) {
      potro.classList.remove('visible');
      potro.classList.add('hidden');
    } else if (parseInt(val) <= 4) {
      potro.classList.remove('hidden');
      potro.classList.add('visible');
    } else {
      potro.classList.remove('visible');
      potro.classList.add('hidden');
    }
  }

  function updateInputUbicacion() {
    if (document.getElementById('filtro_ubicacion').value == '') {
      document.getElementById('filtro_ubicacion').classList.remove('filter-icon-input-after');
      document.getElementById('filtro_ubicacion').classList.add('filter-icon-input-before');
      document.getElementById('border-ubicacion').classList.remove('input-border-after');
      document.getElementById('border-ubicacion').classList.add('input-border-before');
    } else {
      document.getElementById('filtro_ubicacion').classList.remove('filter-icon-input-before');
      document.getElementById('filtro_ubicacion').classList.add('filter-icon-input-after');
      document.getElementById('border-ubicacion').classList.remove('input-border-before');
      document.getElementById('border-ubicacion').classList.add('input-border-after');
    }
  }

    function updateInputJinete() {
    if (document.getElementById('filtro_jinete').value == '') {
      document.getElementById('filtro_jinete').classList.remove('filter-icon-input-after');
      document.getElementById('filtro_jinete').classList.add('filter-icon-input-before');
      document.getElementById('border-jinete').classList.remove('input-border-after');
      document.getElementById('border-jinete').classList.add('input-border-before');
      document.getElementById('filtro_jinete').classList.add('filter-icon-input-jinete-before');
      document.getElementById('filtro_jinete').classList.remove('filter-icon-input-jinete-after');
    } else {
      document.getElementById('filtro_jinete').classList.remove('filter-icon-input-before');
      document.getElementById('filtro_jinete').classList.add('filter-icon-input-after');
      document.getElementById('border-jinete').classList.remove('input-border-before');
      document.getElementById('border-jinete').classList.add('input-border-after');
      document.getElementById('filtro_jinete').classList.remove('filter-icon-input-jinete-before');
      document.getElementById('filtro_jinete').classList.add('filter-icon-input-jinete-after');
    }
  }
</script>
