<!-- Content -->
<div class="horses-index container mt-3">

  <div class="cards mb-4">
    <% @horses.each do |horse| %>
      <div class="card w-100 mb-3">

        <% if horse.photos.any? %>
          <div class="card-image w-100 h-100 d-flex align-items-end justify-content-center" style="background-image: url('<%= cl_image_path horse.photos.last.key %>'); background-size: cover;">
        <% else %>
          <div class="card-image w-100 h-100 d-flex align-items-end justify-content-center" style="background: grey; background-size: cover;">
        <% end %>

            <div class="nombre m-0 w-100"><span><%= horse.name %></span></div>
            </div>

            <div class="card-content">
              <div class="p-2 d-flex">
                <div class="col-4"></div>
                <div class="col-4 d-flex justify-content-center link align-items-center">
                  <%= link_to horse_path(horse.id) do %>
                    <span>VER MAS</span>
                  <% end %>
                </div>
                <div class="col-4 d-flex justify-content-end align-items-center">
                  <div>
                    <%= image_tag('favorite.png', style: "margin-right: 7px;") %>
                    <%= image_tag('share.png') %>
                  </div>
                </div>
              </div>
            </div>
          </div>

    <% end %>
  </div>

</div>
