<div class="container">
  <%= simple_form_for @horse do |f|%>
    <%# Jinete / Amazona %>
    <%= f.label :rider, "Jinete / Amazona:",
                class: "label-input" %>
    <%= f.input :rider,
                input_html: { class: "form-input", "data-controller": "capitalize", "data-action": "keyup->capitalize#capitalizeFirstLetter" },
                placeholder: "Escribe aquí",
                label: false %>
    <%# Nombre %>
    <%= f.label :name, "Nombre caballo:",
                class: "label-input" %>
    <%= f.input :name,
                input_html: { class: "form-input", "data-controller": "capitalize", "data-action": "keyup->capitalize#capitalizeFirstLetter" },
                placeholder: "Escribe aquí",
                label: false %>
    <%# Descripción %>
    <%= f.label :description, "Descripción:",
                class: "label-input" %>
    <%= f.input :description,
                as: :text,
                input_html: { class: "form-input", style: "height: 5rem !important;", "data-controller": "capitalize", "data-action": "keyup->capitalize#capitalizeFirstLetter" },
                placeholder: "Escribe aquí",
                label: false %>
    <%# Fecha de nacimiento %>
    <div class= "d-flex align-items-center justify-content-between mt-3" style= "gap:5px;">
      <%= f.label :birthday, "Fecha de nacimiento:",
                  class: "label-input"
                  %>
      <%= f.input :birthday,
                  as: :date,
                  html5: true,
                  input_html: { class: "form-input", style: "margin-left: 20px;" },
                  label: false %>
    </div>
    <%# Edad %>
    <div class= " align-items-center mt-3 d-none">
      <%= f.label :age, "Edad:",
                  class: "label-input" %>
      <%= f.input :age,
                  label: false,
                  id: "horse_age",
                  as: :select,
                  collection: (0...20).to_a,
                  input_html: {class: "form-input"},
                  prompt: "Seleccionar Edad",
                  wrapper_html: {style: "width: 100%; margin-left: 20px;"} %>
    </div>
    <%# Sexo %>
    <div class= "d-flex align-items-center mt-3">
      <%= f.label :gender, "Sexo:",
                  class: "label-input" %>
      <%= f.input :gender,
                  label: false,
                  as: :select,
                  collection: ["Macho", "Hembra", "Padrillo"],
                  input_html: {class: "form-input" },
                  prompt: "Seleccionar Sexo",
                  wrapper_html: {style: "width: 100%; margin-left: 20px;"} %>
    </div>
    <%# Alzada %>
    <div class= "d-flex align-items-center mt-3">
      <%= f.label :alzada, "Alzada:",
                  class: "label-input" %>
    <%= f.input :alzada,
                label: false,
                as: :select,
                collection: @alzada,
                input_html: {class: "form-input"},
                wrapper_html: {style: "width: 100%; margin-left: 20px;"},
                prompt: "Seleccionar Alzada" %>
    </div>
    <%# Altura %>
    <div class= "d-flex align-items-center mt-3">
      <%= f.label :height, "Altura de prueba:",
                  class: "label-input",
                  style: "white-space: nowrap;" %>
      <%= f.input :height,
                  label: false,
                  as: :select,
                  collection: @height,
                  input_html: {class: "form-input" },
                  prompt: "Seleccionar Altura",
                  wrapper_html: {style: "width: 100%; margin-left: 20px;"} %>
    </div>
    <%# Pedigree %>
    <%= f.input :pedigree,
                label:"Pedigree:",
                placeholder: "Ingrese link al pedigree",
                input_html: {class: "form-input"},
                label_html: {class: "label-input"}%>
    <%# Foto Pedigree %>
    <%= f.input :food_photo, as: :file,
                label:"Imagen de Pedigree:",
                placeholder: "Click aqui para subir una imagen",
                input_html: {class: "form-input", multiple: true},
                label_html: {class: "label-input"}%>
    <%# Photos  %>
    <%= f.input :photos, as: :file,
                label:"Imagen:",
                placeholder: "Click aqui para subir una imagen",
                input_html: {class: "form-input", multiple: true},
                label_html: {class: "label-input"}%>
    <%# Video %>
    <%= f.input :video, as: :file,
                label: "Video:",
                input_html: { class: "form-input" },
                label_html: { class: "label-input" },
                placeholder: "Click here to upload a video",
                required: false,
                hint: raw("Formatos permitidos: MOV, MPG, AVI, FLV, F4V, MP4, M4V, ASF, WMV, VOB, MOD, 3GP, MKV, DIVX, XVID, WEBM.<br>Por favor cargue videos con formato horizontal") %>

    <div class="d-flex justify-content-center">
      <%= f.submit "AÑADIR", class: "btn-submit mt-4" %>
    </div>
  <% end %>
</div>

<script>
  const horseBirthday = document.getElementById("horse_birthday");
  horseBirthday.addEventListener("change", function(event) {
          const day = event.target.value;
          const today = new Date();
          const birthDate = new Date(day);
          const age = today.getFullYear() - birthDate.getFullYear();
          const month = today.getMonth() - birthDate.getMonth();
          if (month < 0 || (month === 0 && today.getDate() < birthDate.getDate())) {
            age--;
          }
          const horseAge = document.getElementById("horse_age")
          horseAge.value = age
        });
</script>
