<div class="container">
  <%= simple_form_for @horse do |f|%>
    <%= f.input :rider,
      label: "Jinete/ amazona:",
      input_html: {class: "form-input"},
      label_html: {class: "label-input"},
      placeholder: "Escribe aquí" %>
    <%= f.input :name,
      label: "Nombre caballo:",
      input_html: {class: "form-input"},
      label_html: {class: "label-input"},
      placeholder: "Escribe aquí" %>
    <%= f.input :description, as: :text,
      label: "Descripción:",
      input_html: {class: "form-input", style: "height: 5rem;"},
      label_html: {class: "label-input"},
      placeholder: "Escribe aquí" %>
    <%= f.input :birthday, as: :date, html5: true,
      label: "Fecha de nacimiento:",
      input_html: {class: "form-input", style:"margin-left: 26px;"},
      label_html: {class: "label-input"},
      wrapper_html: {class: "d-flex align-items-center justify-content-between mt-4"} %>
    <%= f.input :age,
      label: "Edad:",
      as: :select,
      collection: (1...20).to_a,
      input_html: {class: "form-input", style:"margin-left: 26px;"},
      label_html: {class: "label-input"},
      wrapper_html: {class: "d-flex align-items-center mt-4"},
      prompt: "Seleccionar Edad" %>
    <%= f.input :height,
      label: "Altura:",
      as: :select,
      collection: @height,
      input_html: {class: "form-input", style:"margin-left: 26px;"},
      label_html: {class: "label-input"},
      wrapper_html: {class: "d-flex align-items-center mt-4"},
      prompt: "Seleccionar Altura" %>
    <%= f.input :gender,
      label: "Sexo:", as: :select,
      collection: ["Macho", "Hembra", "Padrillo"],
      input_html: {class: "form-input", style:"margin-left: 26px;"},
      label_html: {class: "label-input"},
      wrapper_html: {class: "d-flex align-items-center mt-4"},
      prompt: "Seleccionar Sexo" %>
    <%= f.input :alzada,
      label: "Alzada:",
      as: :select,
      collection: @alzada,
      input_html: {class: "form-input", style:"margin-left: 26px;"},
      label_html: {class: "label-input"},
      wrapper_html: {class: "d-flex align-items-center mt-4"},
      prompt: "Seleccionar Alzada" %>
    <%= f.input :pedigree,
      label:"Pedigree:",
      placeholder: "Ingrese link al pedigree",
      input_html: {class: "form-input"},
      label_html: {class: "label-input"}%>
    <%= f.input :photos, as: :file,
      label:"Imagen:",
      placeholder: "Click aqui para subir una imagen",
      input_html: {class: "form-input"},
      label_html: {class: "label-input"}%>
    <%= f.input :video,
      label:"Video:",
      placeholder: "Ingrese link al video",
      input_html: {class: "form-input"},
      label_html: {class: "label-input"}%>

    <div class="d-flex justify-content-center">
      <%= f.submit "AÑADIR", class: "btn-submit mt-4" %>
    </div>
  <% end %>
</div>
