<!-- Content -->
<div class="horses-index container" style="margin-top: 4rem !important;">
    <% if @horses != [] %>
      <div class="mb-4 p-0">
        <div class="resultados">
          <span class="section-subtitle mr-2">Filtros:</span>
          <div class="d-flex mb-2 mt-2" style="flex-wrap: wrap;">
              <div class="d-flex justify-content-center mb-1">
                <% if params[:altura] != "" %>
                  <span class="resultados_pill mr-2"><%= params[:altura] %> m
                    <%= link_to horses_results_path(filtro: "OK", jinete: params[:jinete], edad: params[:edad], altura: "", ubicacion: params[:ubicacion]) do %>
                      <%= image_tag('search_close.svg') %>
                    <% end %>
                  </span>
                <% end %>
              </div>
              <div class="d-flex justify-content-center mb-1">
                <% if params[:edad] != "0" %>
                  <span class="resultados_pill mr-2"><%= params[:edad] %> años
                    <%= link_to horses_results_path(filtro: "OK", jinete: params[:jinete], edad: "0", altura: params[:altura], ubicacion: params[:ubicacion]) do %>
                      <%= image_tag('search_close.svg') %>
                    <% end %>
                  </span>
                <% end %>
              </div>
              <div class="d-flex justify-content-center">
                <% if params[:ubicacion] != "" %>
                  <span class="resultados_pill mr-2"><%= params[:ubicacion] %>
                    <%= link_to horses_results_path(filtro: "OK", jinete: params[:jinete], edad: params[:edad], altura: params[:altura], ubicacion: "") do %>
                      <%= image_tag('search_close.svg') %>
                    <% end %>
                  </span>
                <% end %>
              </div>
              <div class="d-flex justify-content-center">
                <% if params[:jinete] != "" %>
                  <span class="resultados_pill mr-2"><%= params[:jinete] %>
                    <%= link_to horses_results_path(filtro: "OK", jinete: "", edad: params[:edad], altura: params[:altura], ubicacion: params[:ubicacion]) do %>
                      <%= image_tag('search_close.svg') %>
                    <% end %>
                  </span>
                <% end %>
              </div>
              <% if params[:altura] == "" && params[:edad] == "0" && params[:ubicacion] == "" && params[:jinete] == "" %>
                <span style="font-style: italic;">No hay filtros aplicados</span>
              <% end %>
          </div>
        </div>
      </div>
      <div class="cards mb-4 row">
        <% @horses.each do |horse| %>
          <div class="col-sm-6 col-lg-4 col-sm-12">
            <%= render 'shared/horse_card', horse: horse %>
          </div>
        <% end %>
      </div>
    <% else %>
      <div class="cards mb-4 row">
        <div class="d-flex flex-column justify-content-center align-items-center text-center" style="height: 30vh;">
          <span>No hay resultados disponibles para tu busqueda</span>
          <%= link_to home_path, class: "btn-submit mt-5 d-flex align-items-center justify-content-center" do %>
            <span>VOLVER AL INICIO</span>
          <% end %>
        </div>
      </div>
    <% end %>
</div>

<script>
  buttons = document.querySelectorAll('.horse_heart_home')
    buttons.forEach(
    function(button) {
      if (button.innerText == "fav"){
        button.innerHTML = "<i class='fa-solid fa-heart'></i>"
      } else if (button.innerText == "nofav"){
        button.innerHTML = "<i class='fa-regular fa-heart'></i>"
      }
      button.addEventListener('click', function() {
        if (button.innerHTML == `<i class="fa-solid fa-heart"></i>`) {
          button.innerHTML = `<i class="fa-regular fa-heart"></i>`
        } else if (button.innerHTML == `<i class="fa-regular fa-heart"></i>`){
          button.innerHTML = `<i class="fa-solid fa-heart"></i>`
        }
      })
    }
  )
</script>

<style>
  .horse_heart{
    border: none;
    background: none;
    padding: 0;
    color:white;
    font-size: 1.3rem;
  }

  .horse_heart_index{
    border: none;
    background: none;
    padding: 0;
    padding-top: 2px;
    color: #F2DA84;
    font-size: 1.3rem;
  }

  .horse_heart_home{
    border: none;
    background: none;
    padding: 0;
    padding-top: 2px;
    color: #F2DA84;
    font-size: 1.3rem;
  }
</style>
