<!-- Content -->
<div class="horses-index container" style="margin-top: 4rem !important;">
    <% if @horses != [] %>
      <div class="mb-4 p-0">
        <div class="resultados">
          <span class="section-subtitle mr-2">Filtros:</span>
          <div class="d-flex mb-2 mt-2" style="flex-wrap: wrap;">
              <div class="d-flex justify-content-center mb-1">
                <% if params[:altura] != "" %>
                  <span class="resultados_pill mr-2"><%= params[:altura] %> m
                    <%= link_to horses_results_path(filtro: "OK", jinete: params[:jinete], edad: params[:edad], altura: "", ubicacion: params[:ubicacion]) do %>
                      <%= image_tag('search_close.svg') %>
                    <% end %>
                  </span>
                <% end %>
              </div>
              <div class="d-flex justify-content-center mb-1">
                <% if params[:edad] != "0" %>
                  <span class="resultados_pill mr-2"><%= params[:edad] %> años
                    <%= link_to horses_results_path(filtro: "OK", jinete: params[:jinete], edad: "0", altura: params[:altura], ubicacion: params[:ubicacion]) do %>
                      <%= image_tag('search_close.svg') %>
                    <% end %>
                  </span>
                <% end %>
              </div>
              <div class="d-flex justify-content-center">
                <% if params[:ubicacion] != "" %>
                  <span class="resultados_pill mr-2"><%= params[:ubicacion] %>
                    <%= link_to horses_results_path(filtro: "OK", jinete: params[:jinete], edad: params[:edad], altura: params[:altura], ubicacion: "") do %>
                      <%= image_tag('search_close.svg') %>
                    <% end %>
                  </span>
                <% end %>
              </div>
              <div class="d-flex justify-content-center">
                <% if params[:jinete] != "" %>
                  <span class="resultados_pill mr-2"><%= params[:jinete] %>
                    <%= link_to horses_results_path(filtro: "OK", jinete: "", edad: params[:edad], altura: params[:altura], ubicacion: params[:ubicacion]) do %>
                      <%= image_tag('search_close.svg') %>
                    <% end %>
                  </span>
                <% end %>
              </div>
              <% if params[:altura] == "" && params[:edad] == "0" && params[:ubicacion] == "" && params[:jinete] == "" %>
                <span style="font-style: italic;">No hay filtros aplicados</span>
              <% end %>
          </div>
        </div>
      </div>
      <div class="cards mb-4 row">
        <% @horses.each do |horse| %>
          <div class="col-sm-6 col-lg-4 col-sm-12">
            <div class="card w-100 mb-3">
              <% if horse.video != nil %>
                <div class="card-image w-100 h-100 d-flex align-items-end justify-content-center flex-column">
                  <% url = horse.video %>
                  <% url_path = url.sub("http://", "//") %>
                  <iframe src=<%= url_path %> allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="100%" height="100%"></iframe>
                  <div class="nombre m-0 w-100"><span><%= horse.name.capitalize %></span></div>
                </div>
              <% else %>
                <div class="card-image w-100 h-100 d-flex align-items-end justify-content-center" style="background-image: url('<%= image_path 'caballo-placeholder-solo.png' %>'); background-repeat: no-repeat; background-position: center; background-size: 300px;">
                  <div class="nombre m-0 w-100"><span><%= horse.name.capitalize %></span></div>
                </div>
              <% end %>

              <div class="card-content">
                <div class="p-2 d-flex">
                  <div class="col-3 pl-0 d-flex align-items-center justify-content-center">
                    <% if horse.age <= 4 %>
                      <div class="potro d-flex align-items-center justify-content-center">
                        <%= image_tag 'potro-icon.svg' %>
                        <span class="ml-1 potro-span">potro</span>
                      </div>
                    <% end %>
                  </div>
                  <div class="col-6 d-flex justify-content-center link align-items-center">
                    <%= link_to horse_show_path(horse.id) do %>
                      <span>VER MAS</span>
                    <% end %>
                  </div>
                  <div class="col-3 d-flex justify-content-end align-items-center pr-0">
                    <div class="d-flex align-items-center justify-content-center">
                      <%= button_to favorite_horse_text(horse), favorite_horse_path(horse: horse), class: "horse_heart_home mx-2", remote: true %>
                      <%# <div data-controller="share" data-share-url-value="<%= horse_show_path(horse)"> %>
                        <%#= button_to image_tag('share.png'), "", data: {action: "click->share#share" }, style: "border: none; background: none; padding-bottom: 0.188rem;" %>
                        <%#= content_tag(:span, "", class:"result", data: {share_target: "result" }) %>
                      <%# </div> %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <div class="cards mb-4 row">
        <div class="d-flex flex-column justify-content-center align-items-center text-center" style="height: 30vh;">
          <span>No hay resultados disponibles para tu busqueda</span>
          <%= link_to home_path, class: "btn-submit mt-5 d-flex align-items-center justify-content-center" do %>
            <span>VOLVER AL INICIO</span>
          <% end %>
        </div>
      </div>
    <% end %>
</div>

<script>
  buttons = document.querySelectorAll('.horse_heart_home')
    buttons.forEach(
    function(button) {
      if (button.innerText == "fav"){
        button.innerHTML = "<i class='fa-solid fa-heart'></i>"
      } else if (button.innerText == "nofav"){
        button.innerHTML = "<i class='fa-regular fa-heart'></i>"
      }
      button.addEventListener('click', function() {
        if (button.innerHTML == `<i class="fa-solid fa-heart"></i>`) {
          button.innerHTML = `<i class="fa-regular fa-heart"></i>`
        } else if (button.innerHTML == `<i class="fa-regular fa-heart"></i>`){
          button.innerHTML = `<i class="fa-solid fa-heart"></i>`
        }
      })
    }
  )
</script>

<style>
  .horse_heart{
    border: none;
    background: none;
    padding: 0;
    color:white;
    font-size: 1.3rem;
  }

  .horse_heart_index{
    border: none;
    background: none;
    padding: 0;
    padding-top: 2px;
    color: #F2DA84;
    font-size: 1.3rem;
  }

  .horse_heart_home{
    border: none;
    background: none;
    padding: 0;
    padding-top: 2px;
    color: #F2DA84;
    font-size: 1.3rem;
  }
</style>
