<!-- Content -->
<div class="horses-show d-flex flex-column align-items-center" data-controller='share'>
  <div class="col-lg-6 col-sm-10 col-md-8 col-12 px-0" style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;">

    <!---------- Carousel ------->
    <div class="foto w-100 h-100 mb-3 d-flex justify-content-center">
      <div id="carouselExampleIndicators" class="carousel slide w-100" data-ride="carousel">
        <ol class="carousel-indicators" style="z-index: 3 !important;">
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner">
          <!---------- Video ------->
          <% if @horse.video != nil %>
            <% if @horse.photos %>
              <div class="carousel-item active d-flex align-items-center justify-content-center carousel-photo-div"  style="height: 400px !important">
                <%= cl_image_tag @horse.photos.first.key, class: "carousel-photo", style: "height: 18.75rem;" %>
              </div>
            <% end %>
            <div class="carousel-item " style="height: 400px !important">
              <iframe src=<%= @horse.video %> allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="100%" height="400"></iframe>
            </div>
          <% else %>
            <div class="carousel-item active" style="height: 400px !important">
              <%= image_tag('caballo-placeholder.png', class: "w-100", style: "height: 25rem;") %>
            </div>
          <% end %>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>

    <!---------- Favorite ------->
    <%= button_to favorite_horse_text(@horse), favorite_horse_path(horse: @horse), class: "horse_heart d-none", remote: true %>

    <div class="container px-3" style="margin-top: 1rem !important;">
      <div class="info">

        <div class="horse-titulo d-flex flex-column mb-4">
          <div class="d-flex">
            <span class="titulo mb-2 d-flex mr-2"><%= @horse.name.capitalize %></span>
            <% if @horse.age <= 4 %>
            <div class="pt-1">
              <div class="potro d-flex align-items-center justify-content-center">
                <%= image_tag 'potro-icon.svg' %>
                <span class="ml-1 potro-span">potro</span>
              </div>
            </div>
            <% end %>
            <% if @horse.user == current_user %>
              <div class="ml-2 pt-1">
                <%= link_to horse_edit_path(@horse) do%>
                  <i class="fa-solid fa-pen-to-square" style= "color: black; font-size: 20px;"></i>
                <% end %>
              </div>
            <% end %>
          </div>
          <span class= "text"><%= @horse.description %></span>
        </div>

        <div class="detalles d-flex flex-column py-3">
          <span class="subtitle">Altura: <span class= "text"><%= @horse.height %>m</span></span>
          <span class="subtitle">Edad:
            <span class= "text"><%= @horse.age %> años</span>
          </span>
        </div>

        <div class="pedigree d-flex flex-column py-3">
          <span class="subtitle">Pedigree</span>
          <% if @horse.pedigree != "" %>
            <a href="">Ver pedigree</a>
          <% else %>
            <span class="text">No posee pedigree</span>
          <% end %>
        </div>

        <div class="user d-flex py-3">
          <div>
            <%= image_tag('profile-icon.png') %>
          </div>
          <div class="d-flex flex-column justify-content-center" style="margin-left: 1rem;">
            <span class="subtitle"><%= @horse.user.nombre %> <%= @horse.user.apellido %></span>
            <span class="sub-subtitle"><%= @horse.user.establishment %></span>
            <% if @horse.user.id != current_user.id %>
              <%= link_to profile_show_path(@horse.user.id) do %>
                <span class="link">Ver perfil</span>
              <% end %>
            <% end %>
          </div>
        </div>

        <% if @horse.user.id != current_user.id %>
          <div class="consultar mt-2">
            <%= simple_form_for @conversation, url: conversaciones_create_path(horse_id: @horse.id), data: { turbo: false } do |f| %>
              <%= hidden_field_tag(:sender_id, current_user.id) %>
              <%= hidden_field_tag(:recipient_id, @horse.user_id) %>
              <%= f.button :button do %>
                <%= image_tag('message-filled.png') %>
                <span>CONSULTAR</span>
              <% end %>
            <% end %>
          </div>
        <% end %>

      </div>

      <div class="publicaciones mt-3">
        <span class="subtitle">Publicaciones relacionadas</span>

        <% if @horses.last(3) != [] %>
          <% @horses.last(3).each do |horse| %>
            <div class="card w-100 mb-3 mt-3">
              <% if horse.video != nil %>
                <div class="card-image w-100 h-100 d-flex align-items-end justify-content-center flex-column">
                  <% url = horse.video %>
                  <% url_path = url.sub("http://", "//") %>
                  <iframe src=<%= url_path %> allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="100%" height="100%"></iframe>
                  <div class="nombre m-0 w-100"><span><%= horse.name.capitalize %></span></div>
                </div>
              <% else %>
                <div class="card-image w-100 h-100 d-flex align-items-end justify-content-center" style="background-image: url('<%= image_path 'caballo-placeholder-solo.png' %>'); background-repeat: no-repeat; background-position: center; background-size: 300px;">
                  <div class="nombre m-0 w-100"><span><%= horse.name.capitalize %></span></div>
                </div>
              <% end %>

              <div class="card-content">
                <div class="p-2 d-flex">
                  <div class="col-3 p-0 d-flex align-items-center justify-content-center">
                    <% if horse.age <= 4 %>
                      <div class="potro d-flex align-items-center justify-content-center">
                        <%= image_tag 'potro-icon.svg' %>
                        <span class="ml-1 potro-span">potro</span>
                      </div>
                    <% end %>
                  </div>
                  <div class="col-6 p-0 d-flex justify-content-center link align-items-center" style= "text-decoration: none; padding-top: 0.25rem!important;">
                    <%= link_to horse_show_path(horse.id) do %>
                      <span>VER MAS</span>
                    <% end %>
                  </div>
                  <div class="col-3 p-0 d-flex justify-content-end align-items-center pr-0">
                    <div class="d-flex align-items-center justify-content-center">
                      <%= button_to favorite_horse_text(horse), favorite_horse_path(horse: horse), class: "horse_heart_index mx-2", remote: true %>
                      <%# <div data-controller="share" data-share-url-value="<%= horse_show_path(horse)"> %>
                        <%#= button_to image_tag('share.png'), "", data: {action: "click->share#share" }, style: "border: none; background: none; padding-bottom: 0.188rem;" %>
                        <%#= content_tag(:span, "", class:"result", data: {share_target: "result" }) %>
                      <%# </div> %>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          <% end %>
        <% else %>
          <div class="d-flex justify-content-center align-items-center" style="height: 30vh;">
            <span>No hay recomendaciones disponibles todavia</span>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
  buttons = document.querySelectorAll('.horse_heart')
    buttons.forEach(
    function(button) {
      if (button.innerText == "fav"){
        button.innerHTML = "<i class='fa-solid fa-heart'></i>"
      } else if (button.innerText == "nofav"){
        button.innerHTML = "<i class='fa-regular fa-heart'></i>"
      }
      button.addEventListener('click', function() {
        if (button.innerHTML == `<i class="fa-solid fa-heart"></i>`) {
          button.innerHTML = `<i class="fa-regular fa-heart"></i>`
        } else if (button.innerHTML == `<i class="fa-regular fa-heart"></i>`){
          button.innerHTML = `<i class="fa-solid fa-heart"></i>`
        }
      })
    }
  )
</script>

<script>
  buttons = document.querySelectorAll('.horse_heart_index')
    buttons.forEach(
    function(button) {
      if (button.innerText == "fav"){
        button.innerHTML = "<i class='fa-solid fa-heart'></i>"
      } else if (button.innerText == "nofav"){
        button.innerHTML = "<i class='fa-regular fa-heart'></i>"
      }
      button.addEventListener('click', function() {
        if (button.innerHTML == `<i class="fa-solid fa-heart"></i>`) {
          button.innerHTML = `<i class="fa-regular fa-heart"></i>`
        } else if (button.innerHTML == `<i class="fa-regular fa-heart"></i>`){
          button.innerHTML = `<i class="fa-solid fa-heart"></i>`
        }
      })
    }
  )
</script>

<style>
  .horse_heart{
    border: none;
    background: none;
    padding: 0;
    color:white;
    font-size: 1.3rem;
  }

  .horse_heart_index{
    border: none;
    background: none;
    padding: 0;
    padding-top: 2px;
    color: #F2DA84;
    font-size: 1.3rem;
  }

  .horse_heart_home{
    border: none;
    background: none;
    padding: 0;
    padding-top: 2px;
    color: #F2DA84;
    font-size: 1.3rem;
  }
</style>
