<!-- Content -->
<div class="horses-show d-flex flex-column align-items-center" data-controller='share'>
  <div class="col-lg-6 col-sm-10 col-md-8 col-12" style="  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;">

    <!---------- Carousel ------->
    <div class="foto w-100 h-100 mb-3 mt-3 d-flex justify-content-center">
      <div id="carouselExampleIndicators" class="carousel slide w-100" data-ride="carousel">
        <ol class="carousel-indicators">
          <% if @horse.photos.count > 0 %>
            <% @horse.photos.each_with_index do |photo, index| %>
              <li data-target="#carouselExampleIndicators" data-slide-to=<%= "#{index}" %> class=<%= photo == @horse.photos.first ? "active" : "" %>></li>
            <% end %>
          <% else %>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <% end %>
          <% if @horse.video != nil%>
            <% last_index = @horse.photos.length - 1 %>
            <li data-target="#carouselExampleIndicators" data-slide-to="<%= last_index + 1 %>"></li>
          <% end %>
        </ol>
        <div class="carousel-inner">
          <!---------- Photo ------->
          <% if @horse.photos.count > 0 %>
            <% @horse.photos.each_with_index do |photo, index| %>
              <div class="carousel-item <%= photo == @horse.photos.first ? "active" : "" %>">
                <%= cl_image_tag photo.key, class: "d-block w-100", style: "height: 25rem;" %>
              </div>
            <% end %>
          <% else %>
            <div class="carousel-item active">
              <%= image_tag('caballo.jpeg', class: "w-100", style: "height: 25rem;") %>
            </div>
          <% end %>
          <div class="carousel-item">
            <!---------- Video ------->
            <% if @horse.video != nil%>
              <iframe src=<%= @horse.video %> width="100%" height="400"></iframe>
            <% end %>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>

    <!---------- Favorite ------->
    <%= button_to favorite_horse_text(@horse), favorite_horse_path(horse: @horse), class: "horse_heart d-none", remote: true %>

    <div class="container px-2">
      <div class="info">

        <div class="horse-titulo d-flex flex-column mb-4">
          <span class="titulo mb-2"><%= @horse.name %>
            <% if @horse.user == current_user %>
              <%= link_to  horse_edit_path(@horse) do%>
              <i class="fa-solid fa-pen-to-square" style= "color: black;"></i>
              <% end %>
            <% end %>
          </span>
          <span class= "text"><%= @horse.description %></span>
        </div>

        <div class="detalles d-flex flex-column py-3">
          <span class= "subtitle">Altura: <span class= "text"><%= @horse.height %>m</span></span>
          <span class= "subtitle">Edad: <span class= "text"><%= @horse.age %> años</span></span>
        </div>

        <div class="pedigree d-flex flex-column py-3">
          <span class= "subtitle">Pedigree</span>
          <a href="">Ver pedigree</a>
        </div>

        <div class="user d-flex py-3">
          <div>
            <%= image_tag('profile-icon.png') %>
          </div>
          <div class="d-flex flex-column" style="margin-left: 1rem;">
            <span class= "subtitle"><%= @horse.user.nombre %> <%= @horse.user.apellido %></span>
            <span class="sub-subtitle"><%= @horse.user.establishment %></span>
            <%= link_to profile_show_path(@horse.user.id) do %>
              <span class="link">Ver perfil</span>
            <% end %>
          </div>
        </div>
      </div>

      <div class="publicaciones mt-3">
        <span class="subtitle">Publicaciones relacionadas</span>

        <% if @horses.last(2) != [] %>
          <% @horses.last(2).each do |horse| %>
            <div class="card w-100 mb-3 mt-3">
              <% if horse.photos.last %>
              <div class="card-image w-100 h-100 d-flex align-items-end justify-content-center" style="background-image: url('<%= cl_image_path horse.photos.last.key %>'); background-size: cover;">
              <% else %>
              <div class="card-image w-100 h-100 d-flex align-items-end justify-content-center" style="background: gray; background-size: cover;">
              <% end %>
                <div class="nombre m-0 w-100"><span><%= horse.name %></span></div>
              </div>

              <div class="card-content">
                <div class="p-2 d-flex">
                  <div class="col-4"></div>
                  <div class="col-4 d-flex justify-content-center align-items-center">
                    <%= link_to horse_show_path(horse.id) do %>
                      <span>VER MAS</span>
                    <% end %>
                  </div>
                  <div class="col-4 d-flex justify-content-end align-items-center">
                    <div>
                      <%= image_tag('favorite.png', style: "margin-right: 7px;") %>
                      <%= image_tag('share.png') %>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          <% end %>
        <% else %>
          <div class="d-flex justify-content-center align-items-center" style="height: 30vh;">
            <span>No hay recomendaciones disponibles todavia</span>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="consultar">
    <%= simple_form_for @conversation, url: conversaciones_create_path do |f| %>
      <%= hidden_field_tag(:sender_id, current_user.id) %>
      <%= hidden_field_tag(:recipient_id, @horse.user_id) %>
      <%= f.button :button do %>
        <%= image_tag('message-filled.png') %>
        <span>CONSULTAR</span>
      <% end %>
    <% end %>
  </div>
</div>

<script>
  buttons = document.querySelectorAll('.horse_heart')
    buttons.forEach(
    function(button) {
      if (button.innerText == "fav"){
        button.innerHTML = "<i class='fa-solid fa-heart'></i>"
      } else if (button.innerText == "nofav"){
        button.innerHTML = "<i class='fa-regular fa-heart'></i>"
      }
      button.addEventListener('click', function() {
        if (button.innerHTML == `<i class="fa-solid fa-heart"></i>`) {
          button.innerHTML = `<i class="fa-regular fa-heart"></i>`
        } else if (button.innerHTML == `<i class="fa-regular fa-heart"></i>`){
          button.innerHTML = `<i class="fa-solid fa-heart"></i>`
        }
      })
    }
  )
</script>
