<!-- Content -->
<div class="horses-show d-flex flex-column align-items-center" data-controller='share'>
  <div class="col-lg-6 col-sm-10 col-md-8 col-12 px-0" style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;">

    <!---------- Carousel ------->
    <div class="foto w-100 h-100 mb-3 d-flex justify-content-center">
      <div id="carouselExampleIndicators" class="carousel slide w-100" data-interval="false">
        <ol class="carousel-indicators" style="z-index: 3 !important;">
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner">
          <% if @horse&.photos&.attached? %>
            <div class="carousel-item active d-flex align-items-center justify-content-center carousel-photo-div"  style="height: 400px !important">
              <%= cl_image_tag @horse&.photos&.first&.key, class: "carousel-photo", style: "height: 18.75rem;" %>
            </div>
          <% else %>
            <div class="carousel-item active" style="height: 400px !important">
              <%= image_tag('caballo-placeholder-solo.png', class: "w-100", style: "height: 25rem;") %>
            </div>
          <% end %>
          
          <% if @horse.video %>

            <div class="carousel-item" style="height: 400px !important">
              <% if !browser.safari?("<17") %>
                <input type="hidden" id="video_url" value="<%= @horse.video %>" />
                <video width="100%" height="100%" id="main_video" src="<%= @horse.video %>" type="video/mp4" controls muted playsinline style="background: white;"></video>
              <% else %>
                <iframe id="theiframe" src=<%= @horse.video %> allowtransparency="true" frameborder="0" scrolling="no" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="100%" height="400" onload="iframeclick()"></iframe>
              <% end %>
              <% if !@pub_video.nil? %>
                <%= video_tag(@pub_video["url"], id: "pub_video", controls: true, width: "100%", height: "100%", style: "display:none; background: white;", playsinline: true, muted: true) %>
              <% end %>
            </div>
            
          <% end %>
          
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>

    <!---------- Favorite ------->
    <%= button_to favorite_horse_text(@horse), favorite_horse_path(horse: @horse), class: "horse_heart d-none", remote: true %>

    <div class="container px-3" style="margin-top: 1rem !important;">
      <div class="info">

        <div class="horse-titulo d-flex flex-column mb-4">
          <div class="d-flex">
            <span class="titulo mb-2 d-flex mr-2"><%= @horse.name %></span>
            <% if @horse.age <= 4 %>
            <div class="pt-1">
              <div class="potro d-flex align-items-center justify-content-center">
                <%= image_tag 'potro-icon.svg' %>
                <span class="ml-1 potro-span">potro</span>
              </div>
            </div>
            <% end %>
            <% if @horse.user == current_user || current_user.admin %>
              <div class="ml-4 pt-1 d-flex align-items-start">
                <%= link_to horse_edit_path(@horse) do %>
                  <i class="fa-solid fa-pen-to-square mr-2" style="color: black; font-size: 24px;"></i>
                <% end %>
                <%= button_to horses_destroy_path(@horse), method: :delete, class: "btn d-inline-flex p-0", id: "delete-horse"  do %>
                  <i class="fa-solid fa-trash" style="color: black; font-size: 20px;"></i>
                <% end %>
              </div>
            <% end %>
          </div>
          <span class= "text"><%= @horse.description %></span>
        </div>

        <div class="detalles d-flex flex-column py-3">
          <% if @horse.height.present? %>
            <span class="subtitle">Altura: <span class= "text"><%= @horse.height %>m</span></span>
          <% end %>
          <span class="subtitle">Edad: <span class= "text"><%= @horse.age %> años</span></span>
          <span class="subtitle">Fecha de Nacimiento: <span class= "text"><%= @horse.birthday %></span></span>
          <span class="subtitle">Sexo: <span class= "text"><%= @horse.gender %></span></span>
          <% if @horse.country.present? %>
            <span class="subtitle">País: <span class= "text"><%= @horse.country %></span></span>
          <% end %>
          <% if @horse.alzada.present? %>
            <span class="subtitle">Alzada: <span class= "text"><%= @horse.alzada %></span></span>
          <% end %>
          <% if @horse.rider.present? %>
            <span class="subtitle">Jinete: <span class= "text"><%= @horse.rider %></span></span>
          <% end %>
        </div>

        <div class="pedigree d-flex flex-column py-3">
          <span class="subtitle">Pedigree</span>
          <% if @horse.pedigree.present? %>
            <%= link_to 'Ver pedigree', @horse.pedigree %>
          <% end %>

          <% if @horse.food_photo.present? %>  
            <%= link_to 'Ver imagen', @horse.food_photo %>
          <% end %>

          <% if @horse.pedigree.blank? && @horse.food_photo.blank? %>
            <span class="text">No posee pedigree</span>
          <% end %>

        </div>

        <div class="user d-flex py-3">
          <div>
            <%= image_tag('profile-icon.png') %>
          </div>
          <div class="d-flex flex-column justify-content-center" style="margin-left: 1rem;">
            <span class="subtitle"><%= @horse.user.nombre %> <%= @horse.user.apellido %></span>
            <span class="sub-subtitle"><%= @horse.user.establishment %></span>
            <% if @horse.user.id != current_user.id %>
              <%= link_to profile_show_path(@horse.user.id) do %>
                <span class="link">Ver perfil</span>
              <% end %>
            <% end %>
          </div>
        </div>

        <% if @horse.user.id != current_user.id %>
          <div class="msg d-flex py-3">
            <div class="d-flex w-100 justify-content-around">
              <div class="col consultar mt-2">
                <%= simple_form_for @conversation, url: conversaciones_create_path(horse_id: @horse.id), data: { turbo: false } do |f| %>
                  <%= hidden_field_tag(:sender_id, current_user.id) %>
                  <%= hidden_field_tag(:recipient_id, @horse.user_id) %>
                  <%= f.button :button do %>
                    <%= image_tag('message-filled.png') %>
                    <span>CONSULTAR</span>
                  <% end %>
                <% end %>
              </div>
              <div class="col consultar">
                <button>
                  <a href="https://api.whatsapp.com/send?phone=<%= @horse.user.country_code %><%= @horse.user.phone %>">
                  <span><i class="fab fa-whatsapp"></i></span>
                  <span>Whatsapp</span>
                  </a>
                </button>
              </div>
            </div>
          </div>
        <% end %>

      </div>

      <div class="publicaciones mt-3">
        <span class="subtitle">Publicaciones relacionadas</span>
        <div class="container justify-content-center">
          <% if @horses != [] %>
            <% @horses.each do |horse| %>
                <%= render 'shared/horse_card', horse: horse %>
            <% end %>
          <% else %>
            <div class="d-flex justify-content-center align-items-center" style="height: 30vh;">
              <span>No hay recomendaciones disponibles todavia</span>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  buttons = document.querySelectorAll('.horse_heart')
    buttons.forEach(
    function(button) {
      if (button.innerText == "fav"){
        button.innerHTML = "<i class='fa-solid fa-heart'></i>"
      } else if (button.innerText == "nofav"){
        button.innerHTML = "<i class='fa-regular fa-heart'></i>"
      }
      button.addEventListener('click', function() {
        if (button.innerHTML == `<i class="fa-solid fa-heart"></i>`) {
          button.innerHTML = `<i class="fa-regular fa-heart"></i>`
        } else if (button.innerHTML == `<i class="fa-regular fa-heart"></i>`){
          button.innerHTML = `<i class="fa-solid fa-heart"></i>`
        }
      })
    }
  )

  // function iframeclick() {
  //   document.getElementById("theiframe").contentWindow.document.body.onclick = function() {
  //     // document.getElementById("theiframe").contentWindow.location.reload();
  //     console.log('clickeaste');
  //   }
  // }
  
</script>

<script>
  buttons = document.querySelectorAll('.horse_heart_index')
    buttons.forEach(
    function(button) {
      if (button.innerText == "fav"){
        button.innerHTML = "<i class='fa-solid fa-heart'></i>"
      } else if (button.innerText == "nofav"){
        button.innerHTML = "<i class='fa-regular fa-heart'></i>"
      }
      button.addEventListener('click', function() {
        if (button.innerHTML == `<i class="fa-solid fa-heart"></i>`) {
          button.innerHTML = `<i class="fa-regular fa-heart"></i>`
        } else if (button.innerHTML == `<i class="fa-regular fa-heart"></i>`){
          button.innerHTML = `<i class="fa-solid fa-heart"></i>`
        }
      })
    }
  )

  const deleteButton = document.getElementById('delete-horse');
  deleteButton.addEventListener('click', function(event) {
    event.preventDefault();
    const confirmDelete = confirm('¿Estás seguro de eliminar el caballo?');
    if (confirmDelete) {
      const form = event.currentTarget.closest('form');
      form.submit();
    }
  });
</script>

<script>

  document.addEventListener("DOMContentLoaded", init, false);
  
  var main_video = document.getElementById("main_video");
  var pub_video = document.getElementById("pub_video");
  // var video_url = document.getElementById("video_url");
  // pub_video.style.display = "none";

  function init() {
    // assign src to video tag
    // main_video.setAttribute('src', video_url.value);
    // main_video.load();
    if (pub_video != null){
      main_video.addEventListener("click", play_clicked, false);
    }
  }

  function play_clicked() {
    
    if (main_video.currentTime == 0){
      main_video.style.display = "none";
      pub_video.style.display = "block";
      pub_video.play();
      pub_video.muted = false;
    }
  
  }

  pub_video.onended = function() {
    main_video.currentTime = 0;
    main_video.muted = false;
    pub_video.style.display = "none";
    main_video.style.display = "block";
    main_video.play();  
  }

  

</script>

<style>
  .horse_heart{
    border: none;
    background: none;
    padding: 0;
    color:white;
    font-size: 1.3rem;
  }

  .horse_heart_index{
    border: none;
    background: none;
    padding: 0;
    padding-top: 2px;
    color: #F2DA84;
    font-size: 1.3rem;
  }

  .horse_heart_home{
    border: none;
    background: none;
    padding: 0;
    padding-top: 2px;
    color: #F2DA84;
    font-size: 1.3rem;
  }

  a {
    color: white;
  }
</style>