<div class="footer navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="d-flex w-100 justify-content-around">
    <div class="d-flex align-items-center flex-column justify-content-center text-center footer-box  <%= request.path.include?("/home") ? "active" : ""%>">
      <%= link_to home_path do %>
        <%= image_tag('home.png') %>
        <p>Inicio</p>
      <% end %>
    </div>
    <div class="d-flex align-items-center flex-column justify-content-center text-center footer-box <%= request.path.include?("/search") ? "active" : ""%>">
      <%= link_to search_path do %>
        <%= image_tag('search.png') %>
        <p>Buscar</p>
      <% end %>
    </div>
    <div class="d-flex align-items-center flex-column justify-content-center text-center footer-box <%= request.path.include?("/add") ? "active" : ""%>">
      <%= link_to add_path do %>
        <%= image_tag('agregar.png') %>
        <p>Añadir</p>
      <% end %>
    </div>
    <div class="d-flex align-items-center flex-column justify-content-center text-center footer-box <%= request.path.include?("/conversaciones/") ? "active" : ""%>">
      <%= link_to conversaciones_activas_path do %>
        <%= image_tag('mensajes.png') %>
        <p>Mensajes</p>
      <% end %>
    </div>
    <div class="d-flex align-items-center flex-column justify-content-center text-center footer-box <%= request.path.include?("/perfiles") ? "active" : ""%>">
      <%= link_to profile_index_path do %>
        <%= image_tag('perfil.png') %>
        <p>Mi Perfil</p>
      <% end %>
    </div>
  </div>

</div>
