<div class="navbar navbar-top navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <div class="d-flex align-items-center">

      <% if @navbar_brand %>
        <%= link_to onboarding_path, class: "navbar-brand" do %>
          <%= image_tag 'follow-horse-logo-sin-texto.png' %>
        <% end %>
      <% else %>
        <%= link_to :back, class: "d-flex align-items-center" do %>
          <%= image_tag('arrow_forward.png', style: 'margin-right: 1.25rem') %>
        <% end %>
      <% end %>

      <% if @section_title %>
        <% if @image_title %>
          <%= image_tag("#{@image_title}", style: "width: 30px; height: 30px; margin-right: 7px;") %>
        <% end %>
        <p class="navbar-title"><%= @section_title %></p>
      <% end %>
    </div>

    <% if @search %>
      <%= image_tag('search.png') %>
    <% elsif @filtros %>
      <%= image_tag('filtros.png') %>
    <% elsif @share_like %>
      <div class="d-flex justify-content-center align-items-center">
        <%= image_tag('favorite-white.png', style: 'margin-right: 10px;') %>
          <div data-controller="share" data-share-url-value="<%= horse_show_path(@horse)%>">
            <%= button_to image_tag('share.png'), "", data: {action: "click->share#share"}, style: "border: none; background: none; padding-bottom: 5px;" %>
            <%= content_tag(:span, "", class:"result", data: {
              share_target: "result"
            }) %>
          </div>
      </div>
    <% elsif @dots %>
      <div class="dropdown">
        <%= image_tag('dots.svg', class: "dropdown-toggle", data: {toggle: "dropdown"}, id: "dropdownMenuButton", aria: {haspopup: "true", expanded:"false"}) %>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="left: -140px; padding: 0;">
          <ul style="padding: 8px; margin-bottom: 0; text-align: center;">
            <li><%= link_to "Eliminar", conversacion_destroy_path, class: "dropdown-item", data: {"turbo-method": :delete} %></li>
            <% if @conversation.archive == false %>
              <li><%= link_to "Archivar", conversacion_archivar_path(@conversation.id), data: {"turbo-method": :put}, class: "dropdown-item" %></li>
            <% else %>
              <li><%= link_to "Desarchivar", conversacion_desarchivar_path(@conversation.id), data: {"turbo-method": :put}, class: "dropdown-item" %></li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>

  </div>
</div>
