<div class="navbar navbar-top navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <div class="d-flex align-items-center">

      <% if @navbar_brand %>
        <%= link_to onboarding_path, class: "navbar-brand" do %>
          <%= image_tag 'follow-horse-logo-sin-texto.png' %>
        <% end %>
      <% else %>
        <%= link_to :back, class: "d-flex align-items-center" do %>
          <%= image_tag('arrow_forward.png', style: 'margin-right: 1.25rem') %>
        <% end %>
      <% end %>

      <% if @section_title %>
        <p class="navbar-title"><%= @section_title %></p>
      <% end %>
    </div>

    <% if @search %>
      <%= image_tag('search.png') %>
    <% elsif @filtros %>
      <%= image_tag('filtros.png') %>
    <% elsif @share_like %>
      <div>
        <%= image_tag('favorite-white.png', style: 'margin-right: 10px;') %>
          <div data-controller="share" data-share-url-value="<%= horse_show_path(@horse)%>">
            <%= button_to image_tag('share.png'), "", data: {
              action: "click->share#share"
            } %>
            <%= content_tag(:p, "", class:"result", data: {
              share_target: "result"
            }) %>
          </div>
      </div>
    <% end %>
  </div>
</div>
