<!-- Content -->
<div class="container-categorias container-filter">
  <div class="background d-flex align-items-center justify-content-center" style="background-image: url('<%= image_path 'background-anadir.png' %>');">

    <div class="d-flex flex-column">
      <%= link_to horse_new_path, style:"z-index: 10;" do %>
        <button class="btn-add mb-5 d-flex justify-content-center align-items-center">
          <%= image_tag('add-plus.png', style: "height: 1.688rem; margin-right: 10px;") %>
          <span>Añadir caballo</span>
        </button>
      <% end %>
      <%= link_to auctions_new_path, style:"z-index: 10;" do %>
        <button class="btn-add d-flex justify-content-center align-items-center">
          <%= image_tag('add-plus.png', style: "height: 1.688rem; margin-right: 10px;") %>
          <span>Añadir remate</span>
        </button>
      <% end %>
    </div>
  </div>
</div>
