<div class="main-row">
  <!-- Advertising Left Panel -->
  <% if @pub_imgs != [] %>
    <% @pub_imgs.each do |pub_img| %>
      <div class="col-2 left-pub-panel" style="background-image: url('<%= pub_img["url"] %>');"></div>
    <% end %>
  <% end %>
  <!-- Content -->
  <div class="home container col-8" style="margin-bottom: 0 !important;">

    <div class="title mb-3">
      <h5 class="section-title">Bienvenido <%= @user.nombre.capitalize %></h5>
      <span class="section-subtitle">Recomendaciones para ti</span>
    </div>

    <div class="cards mb-4 row">
      <% if @horses != [] %>
        <% @horses.each do |horse| %>
          <div class="col-sm-6 col-lg-4 col-sm-12">
            <%= render 'shared/horse_card', horse: horse %>
          </div>
        <% end %>
      <% else %>
        <div class="d-flex justify-content-center align-items-center" style="height: 30vh;">
          <span>No hay recomendaciones disponibles por el momento</span>
        </div>
      <% end %>
    </div>
    
  </div>
  <!-- Advertising Right Panel -->
  <% if @pub_imgs != [] %>
    <% @pub_imgs.each do |pub_img| %>
      <div class="col-2 right-pub-panel" style="background-image: url('<%= pub_img["url"] %>');"></div>
    <% end %>
  <% end %>
</div>

<div class="container col-8 w-100 d-flex justify-content-center" style="margin-top: 0 !important; margin-bottom: 4.5rem!important; padding: 0 !important;">
  <div class="lower-menu px-0 w-100">
    <ul class="p-0">
      <li>
        <%= link_to horses_path do %>
          <div>
            <span>Caballos</span>
            <%= image_tag('arrow-link-right.png') %>
          </div>
        <% end %>
      </li>
      <li>
        <%= link_to active_auctions_path do %>
          <div>
            <span>Remates</span>
            <%= image_tag('arrow-link-right.png') %>
          </div>
        <% end %>
      </li>
      <li class="link-bold d-flex justify-content-center">
        <%= link_to search_path do %>
          <span class="align-self-center">Ver todas</span>
        <% end %>
      </li>
    </ul>
  </div>
</div>

<!-- Modal confirmacion registro -->
<% if params[:registro] == "ok" %>
  <%= render 'modal-registro' %>
<% end %>

<style>

@media (min-width: 426px) { 

  .left-pub-panel {
    display: block;
    position: fixed;
    top: 5px;
    left: 0;
    width: 10%;
    height: 100vh;
    background-color: #cccccc;
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: contain;
  }

  .right-pub-panel {
    display: block;
    position: fixed;
    top: 5px;
    right: 0;
    width: 10%;
    height: 100vh;
    background-color: #cccccc;
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: contain;
  }

}

.main-row {
  position: relative;
}

@media (max-width: 425px) {
  .left-pub-panel {
    display: block;
    position: fixed;
    top: 5px;
    left: 0;
    width: 20%;
    height: 100vh;
    background-color: white;
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: contain;
  }

  .right-pub-panel {
    display: block;
    position: fixed;
    top: 5px;
    right: 0;
    width: 20%;
    height: 100vh;
    background-color: white;
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: contain;
  }
}

</style>


<script>

  left_panels = document.getElementsByClassName('left-pub-panel');
  right_panels = document.getElementsByClassName('right-pub-panel');
  panel_no = document.getElementsByClassName('right-pub-panel').length;
  alert(panel_no)

  let panel_array = [left_panels, right_panels]
  let active = panel_no;

  document.addEventListener("DOMContentLoaded", function() {
    setInterval(() => {
      setTimeout(() => {
        if (active > 0) {
          active = active - 1;
          panel_array.forEach((panel) => {
            panel[active].style.display = 'block';
            panel[active+1].style.display = 'none';
          });
        } else {
          active = panel_no
          panel_array.forEach((panel) => {
            panel[active].style.display = 'block';
            panel[0].style.display = 'none';
          });
        }
        // left_panels[active].style.display = 'block';
        // right_panels[active].style.display = 'block';
        // bottom_panels[active].style.display = 'block';
        // left_panels[active - 1].style.display = 'none';
        // right_panels[active - 1].style.display = 'none';
        // bottom_panels[active - 1].style.display = 'none';
      }, 500)
    }, 5000)
  });

</script>
