<!-- Content -->
<div class="home container" style="margin-bottom: 0 !important;">

  <div class="title mb-3">
    <h5 class="section-title">Bienvenido <%= @user.nombre.capitalize %></h5>
    <span class="section-subtitle">Recomendaciones para ti</span>
  </div>

  <div class="cards mb-4 row">
    <% if @horses != [] %>
      <% @horses.each do |horse| %>
        <div class="col-sm-6 col-lg-4 col-sm-12">
          <%= render 'shared/horse_card', horse: horse %>
        </div>
      <% end %>
    <% else %>
      <div class="d-flex justify-content-center align-items-center" style="height: 30vh;">
        <span>No hay recomendaciones disponibles por el momento</span>
      </div>
    <% end %>
  </div>
</div>

<div class="container w-100 d-flex justify-content-center" style="margin-top: 0 !important; margin-bottom: 4.5rem!important; padding: 0 !important;">
  <div class="lower-menu px-0 w-100">
    <ul class="p-0">
      <li>
        <%= link_to horses_path do %>
          <div>
            <span>Caballos</span>
            <%= image_tag('arrow-link-right.png') %>
          </div>
        <% end %>
      </li>
      <li>
        <%= link_to active_auctions_path do %>
          <div>
            <span>Remates</span>
            <%= image_tag('arrow-link-right.png') %>
          </div>
        <% end %>
      </li>
      <li class="link-bold d-flex justify-content-center">
        <%= link_to search_path do %>
          <span class="align-self-center">Ver todas</span>
        <% end %>
      </li>
    </ul>
  </div>
</div>

<!-- Modal confirmacion registro -->
<% if params[:registro] == "ok" %>
  <%= render 'modal-registro' %>
<% end %>